<section>
    <div class="intro-img">
        <img src="./../../../assets/images/new-images/14.png" width="100%" style="position: relative;" alt="locations map">
    </div>
</section>

<div class="mycontainer">
    <img src="assets/images/map/TechnoElevate Business Deck (2).png" width="100%" style="position: relative;" alt="locations map">
</div>
<div class="mycontainer mb-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 ">
            <div class="card mb-4">
                <div class="card-header card-header-padding">
                    <h5 class="text-white">India <span style="font-size: 15px;">(Global Delivery &
              Engineering Center)</span></h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">TechnoElevate, IndiQube South Mile, 4th Floor, Vijayarangam Layout, Jayanagar, Bengaluru, Karnataka 560070</p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +91 (080) 4120 4235
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">United States of America</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">99 South Almaden Blvd, Suite 600, San Jose, California, CA 95113</p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +1 (415) 429-3957
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">United Kingdom</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">
                                1 Elmfield Park, Bromley - BR1 1LU, United Kingdom
                            </p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +44 02034115450
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">Ireland</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">The black church, St. Mary’s place, Dublin, Ireland - D07 P4AX</p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +353 19696560
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <!-- <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">Poland</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">
                                Dobra 54/41 street, 03-312 Warsaw, Poland
                            </p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +91 (080) 4120 4235
                    </p>
                </div>
            </div> -->
            <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">Canada</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div><i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">
                                181 Bay Street, Suite 1800, Toronto, Ontario, Canada, M5J 2T9
                            </p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +1 213 550 5431
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card  mb-4">
                <div class="card-header bg-dark card-header-padding">
                    <h5 class="text-white">Netherlands</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div> <i class='fas fa-city' style='font: size 20px;color:orange'></i></div>
                        <div>
                            <p class="pl-2">
                                Vliegend Hertlaan 15-97, 3526 KT Utrecht, Netherlands
                            </p>
                        </div>
                    </div>
                    <p class="text-left">
                        <i class="fas fa-mobile-alt text-md text-color pr-2"></i> +31308992386
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section bg-gray">
    <!-- <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Want to Start a Project </h3> <br>
                <h5 style="text-align: center">it's Simple </h5>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div> -->
    <!-- <form #f='ngForm' (ngSubmit)="formSubmit(f)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Your Name *</label>
                        <input name="name" type="text" class="form-control" placeholder="Your Name" ngModel #name='ngModel' required minlength="3">
                        <div class="text-danger" *ngIf="name.touched && name.invalid">
                            minimum 3 characters required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email *</label>
                        <input name="email" type="text" class="form-control" placeholder="Email Address" ngModel #email='ngModel' email required minlength="5">
                        <div class="text-danger" *ngIf="email.touched && email.invalid">
                            please enter proper email
                        </div>
                    </div>
                    <div>
                        <label for="services">Select Services You Are Looking For *</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="testing" #testing='ngModel' ngModel class="form-check-input" id="testing">
                        <label class="form-check-label" for="testing">Testing Services</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="training" #training='ngModel' ngModel class="form-check-input" id="training">
                        <label class="form-check-label" for="training">Training Services</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="development" #development='ngModel' ngModel class="form-check-input" id="development">
                        <label class="form-check-label" for="development">Development Services</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-2">
                        <label for="message">Project Details  *</label>
                        <textarea name="message" #message='ngModel' ngModel class="form-control" rows="10" placeholder="Your Message" required minlength="10"></textarea>
                        <div class="text-danger" *ngIf="message.touched && message.invalid">
                            minimum 10 characters required
                        </div>
                    </div>
                    <div>
                        <div class="float-left" #recaptcha></div>
                        <button class="btn btn-main mt-3 float-right" [disabled]="f.invalid" type="submit">Send Message</button>
                    </div>
                </div>
            </div>
        </form> -->
    <!-- </div> -->
</section>
<app-contactus-form></app-contactus-form>
<!-- clients -->