<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        just in time qa <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        test factory
      </h1>
    </div>
  </div>
</section>

<!-- What is a Test Factory? -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">What is a Test Factory?</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      Test Factory is a unique concept and model that allows to unites individuals and framework into a mutual
      administration. This model is the most effective way to assure that only the most critical units of software
      are tested and that they are tested in the legitimate request to limit postponement and costs and to guarantee
      the best business advantage with ideal assets utilization.
    </p>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/services/just-in-time-qa/what-is-testfactory.PNG" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div><strong>Benefits of Test Factory:</strong></div>
        <ul>
          <li>
            Quicker time to showcase as the Dedicated group of testers concentrating just on doing Functional testing of
            Applications.
          </li>
          <li>
            Better coordinated effort and quicker dynamic as the Dedicated group of test experts working intimately with
            specialized and business examiner groups.
          </li>
          <li>
            Ensures high levels of repeatability, predictability and test coverage.
          </li>
          <li>
            Effective usage of tools enabling complete traceability from requirements to test cases and imperfections
            during different cycles of the Project.
          </li>
          <li>
            Giving a stage to have progressively visit releases every year – This will profit the business end-clients
            in moving ceaselessly from the recent lower frequency.
          </li>
        </ul>
        <p>
          Test Factory is the One-stop Source for various testing needs like Performance Testing, Security Testing, UAT
          Support etc.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- What is a Test Factory? -->

<!-- Test Factory Solution -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Test Yantra Solution</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          MQAS model to quality assurance of test activities in a Test Yantra Test Factory (TYTF).
        </p>
        <ul>
          <li>People's skill and competencies</li>
          <li>Repeatable and steady procedures</li>
          <li>Predesigned and preconfigured tools and technologies</li>
          <li>Quick strategies for completing assignments</li>
          <li>Developing conveyance models with stages that are scalable and adaptable as per customer needs</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/services/just-in-time-qa/test-factory-management.PNG" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Test Factory Solution -->
