<section>
  <div class="intro-img">
    <img src="assets/images/new-images/7.png" width="100%" style="position: relative;" alt="locations map">
  </div>
</section>
<!-- Section About start -->
<section class="section">

  <div class="mycontainer" style="text-align: justify;">
    <div class="row">
      <div class="col col-12 col-md-12" style="text-align: justify;">
      <p>
        TechnoElevate is assisting clients to get into digital insurance with our cutting edge capabilities to help
        them in unlocking their awareness, by educating them with our agile business models and operational excellence.
      </p>
    </div>
    </div>
    <div class="row">
      <!-- <div class="col col-12 col-md-6">
                <img src="../../../assets/images/industry/insurance/insurance-testing1.png" alt="" class="img-fluid">
            </div> -->
      <div class="col col-12 col-md-12" style="text-align: justify;">
        <p>
          The insurance companies are introducing the digital world to their customers and also using the technology to
          redefine themselves. We are providing the customers a wide range of advanced analytics solutions outperforming
          the competition by 76%. We are
          experts in building risk strategies for our clients in their security and regulatory requirements, and also
          improving the business outcomes and profit by focusing innovation on decision-making.
        </p>

        <p>
          Innovative insurers are providing a new digital experience by blending analytics, design, and development to
          create authentic interactions that generate meaningful business impact.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- Test Yantra Services in Insurance testing -->
<!-- <section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Test Yantra Services in Insurance testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row" style="text-align: justify;">
      <div class="col col-12 col-md-6">
        <p>
          We have curated list for the Services to be offered to the Insurance domain bases on it features offered and
          the list is defined from the previously acquired knowledge and has best efficient result.
        </p>
        <p style="margin-bottom: 0;">We offer the following set:</p>
        <ul>
          <li>Functional Testing</li>
          <li>Database Testing</li>
          <li>Security Testing</li>
          <li>Load & Performance Testing</li>
          <li>System Integration Testing</li>
          <li>User Acceptance Testing</li>
          <li>Mobile Testing</li>
          <li>DWH Testing and BI testing</li>
          <li>Regulatory Compliance Testing</li>
          <li>Test Automation </li>
        </ul>
        <p>
          Each service offering well planned to suit the client need as changes are mad according as pre the product
          updates with comprehensive testing services for property & casualty, life, and health insurers across the full
          testing lifecycle.
        </p>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/industry/insurance/insurance-testing2.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
<!-- Test Yantra Services in Insurance testing -->

<!-- Test Yantra Differentiator  -->
<!-- <section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">
          Test Yantra Differentiator
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/industry/insurance/insurance-testing3.png" alt="" class="img-fluid">
      </div>
      <div class="col col-12 col-md-6">
        <ul>
          <li>
            Solid space and specialized experience with various lines of business covering Life, Health and General
            Insurance.
          </li>
          <li>
            Test Yantra deep domain knowledge will help to cover 100% business process as well as business workflows
            test coverage and regulatory compliance testing for Insurance IT applications.
          </li>
          <li>
            Providing full scope of performance and security testing offering improved business results.
          </li>
          <li>
            End to end testing specialization in P&C, Life, and Reinsurance.
          </li>
          <li>
            Customized Insurance COE that offers specialized QA & testing practice with reusable test assets,
            frameworks, and repositories.
          </li>
          <li>
            Decrease the Regression testing course of events and time to production.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- Test Yantra Differentiator  -->
