<footer class="footer-pd">
    <div class="footer-container">
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-lg-0 ">
                <!-- <h2 class="text-logo text-uppercase mb-3 footer-logo">
                    //TECHN<span class="theme-color">O&nbsp;E</span>LEVATE //

                </h2> -->

                <div class="footerdiv mb-3">
                    <a class="navbar-brand" href="/"> <img src="../../../assets/images/photos(Revised)\Logo for website TY transp bg (small file)-15 (1)-updated.png" class="img">
                    </a>
                </div>


                <p class="footer-description1" style="text-align: justify !important;
                text-justify: distribute !important;
                text-align-last: left !important;">
                    TechnoElevate is a rapidly expanding Test Yantra development unit. We offer a comprehensive range of high-quality software development services.
                </p>


                <div class="head mt-5">
                    <h4 class="footer-heading mb-1 letter-spacing text-uppercase mt-4">Head office</h4>
                    <p class="footer-descrip">TechnoElevate, IndiQube South Mile, 4th Floor, Vijayarangam Layout, Jayanagar, Bengaluru, Karnataka 560070,India.
                    </p>
                    <p class="footer-description2">+91 9632940869</p>
                    <p class="footer-description2"> contactus@technoelevate.com</p>
                </div>
                <!--  Headoffice end-->
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <!-- our service start-->
                            <div class="col-lg-7 col-md-6 mb-sm-3 mb-md-5 mb-lg-0 pl-5">
                                <h4 class="footer-heading">Our Solutions</h4>
                                <!-- <details class="mt-20"> -->
                                <!-- <summary>Development</summary> -->
                                <ul class="list-unstyled footer-menu lh-30 mt-sm-2">
                                    <li>
                                        <a routerLink="/development/software-development">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Software Development
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/mobile-app-development">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Mobile App Development
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/web-solution">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Web Solution
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/cloud-solution">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Cloud Solution
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/migration-and-re-engineering">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Migration & Re-engineering
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/middleware-integration">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Middleware Integration
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/eCommerce">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> E-Commerce Development
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/full-stack-development">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Full Stack Development
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/datascience">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Data Science
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/development/it-consulting">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> IT Consulting
                                        </a>
                                    </li>
                                </ul>
                                <!-- </details> -->
                                <!-- core qa -->
                                <!-- <details>
                  <summary>Core QA Services</summary>
                  <ul class="list-unstyled footer-menu lh-30">
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        FIST
                      </a>
                    </li>
                    <li>
                      <a routerLink="/core-qa/regression">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Regression
                      </a>
                    </li>
                    <li>
                      <a routerLink="/core-qa/compatibility">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Compatiblity
                      </a>
                    </li>
                    <li>
                      <a routerLink="/core-qa/usability">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Usability
                      </a>
                    </li>
                    <li>
                      <a routerLink="/core-qa/exploratory">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Exploratory
                      </a>
                    </li>
                    <li>
                      <a routerLink="/core-qa/uat">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        UAT
                      </a>
                    </li>
                  </ul>
                </details> -->
                                <!-- sepcialized qa -->
                                <!-- <details>
                  <summary>Specialized QA Services</summary>
                  <ul class="list-unstyled footer-menu lh-30">
                    <li>
                      <a routerLink="/specialized-qa/automation">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Automation
                      </a>
                    </li>
                    <li>
                      <a routerLink="/specialized-qa/performance">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Performance
                      </a>
                    </li>
                    <li>
                      <a routerLink="/specialized-qa/security">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Security
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Data Warehouse
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Test Data Management
                      </a>
                    </li>
                  </ul>
                </details> -->
                                <!-- strategic qa -->
                                <!-- <details>
                  <summary>Strategic QA Services</summary>
                  <ul class="list-unstyled footer-menu lh-30">
                    <li>
                      <a routerLink="/strategic-qa/tcoe">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        TCOE/TCC
                      </a>
                    </li>
                    <li>
                      <a routerLink="/strategic-qa/scaled-agile-safe">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Scaled Agile/SAFe
                      </a>
                    </li>
                    <li>
                      <a routerLink="/strategic-qa/full-test-life-cycle">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Full Test Life Cycle
                      </a>
                    </li>
                    <li>
                      <a routerLink="/strategic-qa/consulting-advisory">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Consulting & Advisory
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Strategic Staffing
                      </a>
                    </li>
                  </ul>
                </details> -->
                                <!-- just in time qa -->
                                <!-- <details>
                  <summary>Just in Time QA Services</summary>
                  <ul class="list-unstyled footer-menu lh-30">
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Just-in-Time Staffing
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Hire Train Deploy
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Full Test Life Cycle
                      </a>
                    </li>
                    <li>
                      <a routerLink="404">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Build Operate Transfer
                      </a>
                    </li>
                    <li>
                      <a routerLink="/just-in-time-qa/test-factory">
                        <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                        Test Factory
                      </a>
                    </li>
                  </ul>
                </details> -->
                            </div>
                            <!-- solution end-->

                            <!--Our Services-->
                            <div class="col-lg-5 col-md-6 mb-sm-3 mb-md-5  mb-lg-0 pl-5">
                                <h4 class="footer-heading"> Our Services</h4>
                                <ul class="list-unstyled footer-menu lh-30 mt-2">
                                    <li>
                                        <a routerLink="/specialized-qa/managed-service">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Managed Services
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/specialized-qa/professional-services">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Professional Services
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/specialized-qa/support-services">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Support Services
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="specialized-qa/industry-4.0">
                                            <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Industry 4.0
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--  Our Services  end-->
                        </div>
                    </div>


                    <!-- Digital assurance start
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h4 class="footer-heading">Digital Assurance</h4>
            <ul class="list-unstyled footer-menu lh-30 mt-20">
              <li>
                <a routerLink="/digital-assurance/mobility">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Mobility
                </a>
              </li>
              <li>
                <a routerLink="/digital-assurance/cloud">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Cloud
                </a>
              </li>
              <li>
                <a routerLink="404">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  AI/ML
                </a>
              </li>
              <li>
                <a routerLink="/digital-assurance/iot">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  IoT
                </a>
              </li>
              <li>
                <a routerLink="404">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Big Data
                </a>
              </li>
              <li>
                <a routerLink="404">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Data Science
                </a>
              </li>
            </ul>
          </div> -->
                    <!--  solution Digital assurance end-->

                    <!--  Industries start-->
                    <div class="col-lg-3 col-md-6 mb-sm-3 mb-md-2  mb-lg-0 pl-5">
                        <h4 class="footer-heading">Our Domains</h4>
                        <ul class="list-unstyled footer-menu lh-30 mt-2">
                            <li>
                                <a routerLink="/industries/banking">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Banking
                                </a>
                            </li>
                            <li>
                                <a routerLink="/industries/insurance">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Insurance
                                </a>
                            </li>
                            <!-- <li>
                <a routerLink="404">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Communications
                </a>
              </li> -->
                            <li>
                                <a routerLink="/industries/retail-ecommerce">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> E-Commerce
                                </a>
                            </li>
                            <li>
                                <a routerLink="/industries/retail">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Retail
                                </a>
                            </li>
                            <li>
                                <a routerLink="/industries/health-care">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Healthcare
                                </a>
                            </li>
                            <!-- <li>
                <a routerLink="/industries/media-entertainment">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Media & Entertainment
                </a>
              </li> -->
                            <li>
                                <a routerLink="industries/education">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Education
                                </a>
                            </li>
                            <!-- <li>
                <a routerLink="404">
                  <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i>
                  Energy & Utilities
                </a>
              </li> -->
                            <li>
                                <a routerLink="/industries/telecom">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Telecom
                                </a>
                            </li>
                            <li>
                                <a routerLink="/strategic-qa/technology">
                                    <i class="fa fa-angle-double-right mr-2 fnt-size-14"></i> Technology
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--  Industries end-->
                </div>
            </div>
            <div class="social">
                <ul class="mb-0 footer-socials">
                    <li class="list-no ">
                        <a href="https://www.facebook.com/technoelevate/" target='_blank'>
                            <i class="fab fa-facebook-square icon-font" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-no">
                        <li class="list-no">
                            <a href="https://instagram.com/technoelevate?utm_medium=copy_link" target='_blank'>
                                <i class="fa fa-instagram icon-font" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-no">
                            <a href="https://in.linkedin.com/company/technoelevate" target='_blank'>
                                <i class="fa fa-linkedin icon-font" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-no">
                            <a href="https://twitter.com/technoelevate?t=v2SNxdrYA2wWom6ifSjDLA&s=09" target='_blank'>
                                <i class="fa fa-twitter icon-font" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-no">
                            <a href="https://goo.gl/maps/WrT28L8E4V1d9J8q6" target='_blank'>
                                <i class="fa fa-map-marker fa-2xl icon-font" aria-hidden="true"></i>
                            </a>
                        </li>
                </ul>
            </div>
        </div>

        <div class="row align-items-center  px-3 mx-1 pl-md-5 pl-lg-3">
            <div class="col-lg-4">
                <p class="mt-3 footer-description2" style="font-weight: 600; margin-left:-35px;">
                    &copy; 2022 TechnoElevate
                </p>
            </div>

        </div>
    </div>
</footer>
