<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block; vertical-align: super">
      <div class="title-branch-menu" style=" vertical-align: super">
        Case Studies <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Retail Domain
      </h1>
    </div>
  </div>
</section>

<!-- End to End Automation for Retail Conglomerate -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">
          End to End Automation for Retail Conglomerate
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      Customer is a multinational conglomerate based in Dubai, UAE. Client caters to apparel, footwear, consumer
      electronics, cosmetics & beauty products, home improvement and baby products. The Client has more than 15
      subsidiaries aligning to various businesses to serve their large customer base.
    </p>
    <div class="row">
      <div class="col-md-8">
        The Client had Oracle Point of Sale (POS) application and an ecommerce portal to manage their retail business
        and had several scenarios to be tested. Around 10 builds (patches) were deployed every month across all stores.
        Manual Testing would include barcode reading of various products and validating against predefined values. Each
        build had to be tested thoroughly before moving into production. Due to the large number of builds and
        environments to be tested, owing to time constraint, complete testing was not possible. The ecommerce portal was
        setup with SAP Hybris with the complete order processing platform infrastructure setup as displayed here:
      </div>
      <div class="col-md-4">
        <img src="../../../assets/images/Case study/system-architecture.png" alt="" class="img-fluid">
      </div>
    </div>
    <p>
      The requirement was to provide a seamless automation solution to reduce on the manual efforts, increase stability
      and consistency in the test efforts. Some of the challenges observed was:
    </p>
    <ul>
      <li>
        Applications developed using legacy technologies
      </li>
      <li>
        Multiple Enterprise platforms integrated to achieve business goals
      </li>
      <li>
        Tightly integrated Applications for E2E business processes
      </li>
      <li>
        Applications spread across Web, Desktop & Mobile platforms
      </li>
      <li>
        Data validation is required across multiple integrated systems
      </li>
      <li>
         Need to validate the functionality across multiple integrated systems to ensure the business flow
      </li>
    </ul>
  </div>
</section>
<!-- End to End Automation for Retail Conglomerate -->

<!-- Solution Approach -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">
          Solution Approach
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <ul>
      <li>
        We proposed a customized automation solution which could reduce the overall testing effort. The solution
        started with a POC (Pilot Project) for 5 test cases and continued on to all the test cases. This single solution
        catered to effective testing in multiple environments for critical business flows.
      </li>
      <li>
        Automation was planned for 1800 test cases across all platforms.
      </li>
      <li>
        We implemented a customized framework using JavaScript and Test Complete.
      </li>
      <li>
        Framework was designed as to include all major flows.
      </li>
      <li>
        Framework provided a feature to select the scenarios to be executed for every execution.
      </li>
      <li>
        Integrated ADODB with framework for quick fetch of data from excel and database.
      </li>
      <li>
        Implemented methods to achieve synchronization with the application speed.
      </li>
      <li>
        Customized reports generation and delivery for each execution.
      </li>
      <li>
        All findings were reported on an internal Defect tracking tool and the bugs were tracked by the client team.
      </li>
    </ul>
  </div>
</section>
<!-- Solution Approach -->

<!-- Benefits -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Benefits</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <ul>
      <li>
        Increased Maintenance Efficiency due to 1 solution covering all - POS, Front end and Back end
      </li>
      <li>
        Significant reduction in overall testing effort per cycle. From 10 Days to under 12 Hours
      </li>
      <li>
        Automation of entire suite of test case which included different major work flows
      </li>
      <li>
        Solution designed to take care of test case execution from smoke till regression including functional
      </li>
      <li>
        Complete testing was achieved for every environment and every build, instead of selective testing (Based on impact of modification) due to time constraints
      </li>
    </ul>
  </div>
</section>
<!-- Benefits -->
