<!-- <section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block; vertical-align: super">
      <div class="title-branch-menu" style=" vertical-align: super" >
        Industries <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Education
      </h1>
    </div>
  </div>
</section> -->


<section>
    <div class="intro-img">
        <img src="assets/images/new-images/11.png" width="100%" style="position: relative;" alt="locations map">
    </div>
</section>

<section class="section">
    <!-- <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">
                    Introduction
                </h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div> -->
    <div class="mycontainer">
        <p>
            Technoelevate has taken a huge part in connecting the dots between the educational institute and the student's needs.
        </p>

        <p>
            The majority of students finish education without the abilities that the marketplace requires. ‘TECHNOELEVATE’ is also offering education knowledge about technology with the help of hands-on mentors to every category of learners in the market to improve
            them from being student outcomes from employment. With our education solutions and services, you can personalize learning, increase research capacity, and optimize operations.

        </p>

        <p>
            Get into the learning mode with a 360-degree student view. We are one of the most emerging technology knowledge providers in the market. We have a wide variety of technology packages with our organization and Hands-on industry experience expert mentors
            with us. We are also providing strategic plans to overcome all the technical issues faced by the educational institution with better data support and agile learning methods and infrastructure.

        </p>
    </div>
</section>

<section class="section">
    <div class="mycontainer">
        <!-- <p>
<b> Related Projects</b><br>
E-Commerce platform development for online shopping cart.
<a href="case-studies/e-commerce">Full case study</a>
</p> -->
        <h1 class="text-center py-4" style="text-decoration:underline"> Related Projects</h1>
        <div class="p-4 box bg-gray">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <p class="casestudy">SCHOOL EXPERT SYSTEM (SES).</p>
                    <!-- <button type="button" class="btn casestudy-btn" href="case-studies/e-commerce">Full case study</button> -->
                    <div class="text-center py-4">
                        <a type="button" class="btn casestudy-btn mt-5" href="case-studies/education">Full case study</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                        <img src="assets/images/Case study/Card-education.png" alt="" class="img-fluid box-card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Emerging trends of Ed tech -->
<!-- <section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">
          Emerging trends of Ed tech
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p>
      Many educational institutes have started adopting the emerging technologies to improve content delivery,
      assessments, and evaluations hence aiming to personalize the learning for better understanding the student's
      potential.
    </p>
    <div class="row">
      <div class="col col-12 col-md-6">
        <p style="font-weight: 600;">
          With this presents new challenges including but not limited to:
        </p>
        <ul>
          <li>Standardization</li>
          <li>Content quality</li>
          <li>Content accuracy</li>
          <li>User acceptance</li>
          <li>Digital compatibility to various platforms</li>
          <li>Data accuracy and management</li>
          <li>Performance</li>
          <li>Security</li>
        </ul>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/industry/ed-tech.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
<!-- Emerging trends of Ed tech -->

<!-- Value Proposition -->
<!-- <section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">
          Value Proposition
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p class="mb-0">
      Test Yantra with a decade of experience in QA, brings in profuse domain knowledge and expertise working to
      provide innovative solutions.
    </p>
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/industry/education-value-proposition.png" alt="" class="img-fluid"
          style="width:100%;">
      </div>
      <div class="col col-12 col-md-6">
        <p class="mb-0">
          Test Yantra brings plethora of process, tools and technologies including:
        </p>
        <ul>
          <li>Automation of games on various platform like android, iOS and Unity</li>
          <li>Devops integration</li>
          <li>Usability and learnability</li>
          <li>Managed crowd testing</li>
          <li>Test Factory model for various QA Services including content validations</li>
          <li>Setup COE teams for mobility, IoT, automation, functional performance and security testing</li>
          <li>Big data testing</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- Value Proposition -->