<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Strategic qa <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Test Centre of Excellence
      </h1>
    </div>
  </div>
</section>

<!-- Test Yantra Test Center of Excellence -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Test Yantra Test Center of Excellence</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/tcoe/tcoe1.png" alt="" class="img-fluid">
      </div>
      <div class="col col-12 col-md-6">
        <p>
          Test Yantra houses a centralized Testing Center of Excellence (TCoE) which runs
          independently advocating best QA practices across projects and teams. Some of the major
          contirbutions are:
        </p>
        <ul>
          <li>Providing Consistency and governance</li>
          <li>Efficient and structured test processes</li>
          <li>Current Trends and innovation implementation</li>
        </ul>
        <p>
          With a commitment to provide best possible QA services TCoE ensures in terms of improved
          quality, lesser time to market and lower cost of ownership.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Test Yantra Test Center of Excellence -->

<!-- TEST YANTRA TCOE CAPABILITIES -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">TEST YANTRA TCOE CAPABILITIES</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row ">
      <div class="col col-12 col-md-7">
        <p>
          Test Yantra QA service has developed innovative and critical components that are recommended
          for a TCoE such as processes, templates, frameworks and tools. These components have given a
          jump start its TCoE implementation. The key highlights of Test Yantra best practices
          include:
        </p>
        <ul>
          <li>
            Test Process Management Implementation with Industry best practice
          </li>
          <li>
            Metrics based test management, Gaps and trend analysis
          </li>
          <li>
            Implementation of test accelerators, tools and framework
          </li>
          <li>
            Comprehensive ROI calculation and tracking
          </li>
          <li>
            Delivering continual process improvements
          </li>
          <li>
            Retention of Technical and Domain knowledge
          </li>
          <li>
            Product Quality Dashboards enabling swift decision making
          </li>
        </ul>
        <p>
          Test Yantra QA service takes complete ownership of End to End testing through the use of
          methodologies such as Outcome-Based Testing and Service Level Agreements.
        </p>
      </div>
      <div class="col col-12 col-md-5">
        <img src="assets/images/services/tcoe/tcoe2.PNG" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- TEST YANTRA TCOE CAPABILITIES -->

<!-- TEST YANTRA TCOE HIGHLIGHTS -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">TEST YANTRA TCOE HIGHLIGHTS</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="text-center">Key Differentiators</h5>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <div class="sub-heading">
                  Understanding complex business flow
                </div>
                <p>Increased business user demand</p>
              </li>
              <li>
                <div class="sub-heading">
                  Time to market
                </div>
                <p>Dynamic business changes with multiple releases</p>
              </li>
              <li>
                <div class="sub-heading">
                  Uniform testing processes
                </div>
                <p>Formalized testing process and people independent</p>
              </li>
              <li>
                <div class="sub-heading">
                  Optimal usage of time ensuring Quality
                </div>
                <p>Introduction of Accelerator (Frameworks, Processes, Automation)</p>
              </li>
              <li>
                <div class="sub-heading">
                  Test Effectiveness
                </div>
                <ul style="list-style: disc;">
                  <li>Measurement and Metrics</li>
                  <li>COE offering specialized QA, frameworks,accelerators and tools</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="text-center">Success Factors</h5>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <div class="sub-heading">
                  Time Efficiency
                </div>
                <p>Prepared for on-demand delivery across the globe</p>
              </li>
              <li>
                <div class="sub-heading">
                  High Visibility
                </div>
                <p>Tools to track project progress for better governance</p>
              </li>
              <li>
                <div class="sub-heading">
                  Quality of Service
                </div>
                <p>SLA Based Performance Delivery</p>
              </li>
              <li>
                <div class="sub-heading">
                  Consistency
                </div>
                <p>Adaptive and custom fit methodologies ensure high quality output</p>
              </li>
              <li>
                <div class="sub-heading">
                  Communication
                </div>
                <p>Cultural alignment coupled with onsite Test Specialists and Coordinators</p>
              </li>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TEST YANTRA TCOE HIGHLIGHTS -->
