<section class="page-title abt-bg">
    <div class="col-lg-12 text-center">
        <div style="display:flex;align-items: center;justify-content: center;">
            <div class="title-branch-menu">
                Solutions <span class="text-white">&nbsp;> &nbsp;</span>
            </div>
            <div>
                <h1 class="text-lg">
                    Data Science
                </h1>
            </div>
        </div>

    </div>
</section>

<!-- Section About start -->
<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">What is Data Science?</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/data-science/1 (6).png" alt="" class="img-fluid m-auto">
            </div>
            <div class="col col-12 col-md-6">
                <p>
                    Use the power of data to improve your business performance. Every organization has plenty of data in its business domain, be it e-commerce, automobiles, telecommunication, health science, education, software product development and testing, or any other
                    domain. These data can be used to help the business leaders to take business decisions based on facts.
                </p>
                <p class="laptop">
                    Data science is nothing but scientific approaches and frameworks to extract the knowledge from the past data and explore insights and patterns based on statistical analysis and derive conclusions from the data with the help of various machine learning
                    and deep learning algorithms to assist companies to redefine their business strategies, increase the competitiveness and improve their business by cutting the cost and increasing revenue.
                </p>
                <p class="laptop">
                    Our team of data science engineers at Test Yantra are trained to analyze and identify the patterns in data and apply machine learning and deep learning techniques to find when, where and how to sell their products with optimized business benefits.
                </p>
            </div>
        </div>
        <div class="mobile">
            <p>
                Data science is nothing but scientific approaches and frameworks to extract the knowledge from the past data and explore insights and patterns based on statistical analysis and derive conclusions from the data with the help of various machine learning
                and deep learning algorithms to assist companies to redefine their business strategies, increase the competitiveness and improve their business by cutting the cost and increasing revenue.
            </p>
            <p>
                Our team of data science engineers at Test Yantra are trained to analyze and identify the patterns in data and apply machine learning and deep learning techniques to find when, where and how to sell their products with optimized business benefits.
            </p>
        </div>
    </div>
</section>
<!-- Section About End -->

<!-- What is Machine Learning -->
<!-- <section class="section bg-gray">
    <!-- <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">What is Machine Learning?</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div> -->
<!-- <div class="mycontainer">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Machine learning is the ability of a computer system to learn from the provided input and improve itself from experience without the need for any explicit programming.
                </p>
                <p>
                    Machine learning is widely used in data science projects for exploratory data analysis and building predictive models.
                </p>
                <p>
                    However, in data science projects, we also work with data collection, data wrangling, and cleaning of the data and eventually, draw conclusions from the data by building machine learning model and predicting the output for the unseen data with maximum
                    accuracy and thus helping leaders in taking greater business decisions.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/data-science/2 (5).png" style="position: initial;" class="img-fluid m-auto" alt="">
            </div>
        </div>
    </div> -->
<!-- </section> -->
<!-- What is Machine Learning -->

<!-- How Data Science can help to improve your business -->
<section class="sections about">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">How Data Science can help to improve your business?</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row">

            <div class="col-md-6">
                <ul class="ul">
                    <li>
                        With the help of the data science process, the past data of any organization can be explored and analysed and hence make predictions on how the business can be improvised.
                    </li>
                    <li>
                        Exploratory data analysis and data modelling can help sales and marketing team of any organization to understand the current trend and area for marketing.
                    </li>
                    <li class="laptop">
                        Data science process can analyse the past data pattern and build intelligent recommendation systems which can be used to understand the market demand and where to sell the product.
                    </li>
                    <li class="laptop">
                        Statistical analysis of past data and application of various machine learning algorithms help the business heads to make smarter business decisions which lead to reduced cost, higher profit and improved efficiency.
                    </li>
                    <li class="laptop">
                        Data science and machine learning can be used in every domain of business and research to achieve a better and faster result.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/data-science/2 (5).png" class="img-fluid m-auto" alt="">
            </div>

        </div>
        <div class="mobile">
            <ul>
                <li>
                    Data science process can analyse the past data pattern and build intelligent recommendation systems which can be used to understand the market demand and where to sell the product.
                </li>
                <li>
                    Statistical analysis of past data and application of various machine learning algorithms help the business heads to make smarter business decisions which lead to reduced cost, higher profit and improved efficiency.
                </li>
                <li>
                    Data science and machine learning can be used in every domain of business and research to achieve a better and faster result.
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- How Data Science can help to improve your business -->