<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Core qa services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Compatibility testing
      </h1>
    </div>
  </div>
</section>

<!-- Section About start -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Introduction</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/compatibility/compatibility-testing-1.png" alt="" class="img-fluid m-auto">
      </div>
      <div class="col col-12 col-md-6">
        <p>
          At Test Yantra before any Product /Software /Application being launched in market, it has to go through
          extensive ways of Testing processes.
        </p>
        <p>
          Compatibility Testing is one of the aspects which help to evaluate a software to it being successfully running
          and operating in different devices, device versions, networks, hardware, & operating systems.
        </p>
        <p>
          Such type of testing can help assess the application for its bug leakages in different versions, resolutions,
          configurations, Internet speed and so on.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- TEST YANTRA COMPATIBILITY TESTING TYPES -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">TEST YANTRA COMPATIBILITY TESTING TYPES</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <img src="assets/images/services/compatibility/compatibility-testing-2.png" class="img-fluid" width="80%" alt=""
  style="position: initial; margin-left: 10%;">
</section>
<!-- TEST YANTRA COMPATIBILITY TESTING TYPES -->

<!-- SOFTWARE COMPATIBILITY TESTING -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">SOFTWARE COMPATIBILITY TESTING</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <ul>
      <li>
        <div style="font-weight: 600;">Mobile Compatibility Testing</div>
        Test Yantra is specialized in Mobile Testing where different mobile devices such as Windows, iOS, Android etc
        are
        used to check whether the application developed is compatible with them.
      </li>
      <li>
        <div style="font-weight: 600;">Devices Compatibility Testing</div>
        A part of Test Yantra deals only with Device Testing, where Softwares or applications are tested in different
        devices such as scanners, Bluetooth, USB, printers, etc. for checking the compatibility.
      </li>
      <li>
        <div style="font-weight: 600;">Browsers Compatibility Testing</div>
        Majority of projects are Browser based in Test Yantra, Software's or Applications developed will be tested in
        different browsers such as Google Chrome, Internet Explorer, Yahoo, Bing, Firefox, etc. to assess the
        compatibility.
      </li>
      <li>
        <div style="font-weight: 600;">Software Versions Compatibility Testing</div>
        Application or software are checked with a different versions.
      </li>
      <li>
        <div style="font-weight: 600;">Network Compatibility Testing</div>
        Testing is done in different networks such as Wifi, 5G, 4G to check whether the application or software
        developed is compatible with them.
      </li>
    </ul>
  </div>
</section>
<!-- SOFTWARE COMPATIBILITY TESTING -->

<!-- HARDWARE COMPATIBILITY TESTING -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">HARDWARE COMPATIBILITY TESTING</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p style="margin: auto;">
      To check the compatibility, Softwares or Applications developed are to be tested in different
      hardware configurations also.
    </p>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            Forward Compatibility Testing
          </div>
          <div class="card-body">
            Our Compatibility test team ensures whether the software or application developed is
            compatible with future versions or not.
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/images/services/compatibility/compatibility-testing-3.png" class="img-fluid"
          alt="">
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            Backward Compatibility Testing
          </div>
          <div class="card-body">
            The developed software or application is tested to check whether it is compatible with
            older versions and platforms
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- HARDWARE COMPATIBILITY TESTING -->

<!-- GOOD THINGS ABOUT COMPATIBILITY TESTING -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">GOOD THINGS ABOUT COMPATIBILITY TESTING</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      As most of our testing is device based, Compatibility testing was main process to be followed.
    </p>
    <p>
      We could understand below advantages of Compatibility Testing -
    </p>
    <ul>
      <li>
        Ensure the developed software is working on all conditions
      </li>
      <li>
        Ensure all the business requirements for the product are met
      </li>
      <li>
        Quality improved
      </li>
      <li>
        Significant user experience can increase the growth of an organization
      </li>
      <li>
        Detection of errors before the final release
      </li>
      <li>
        Avoid customer complaints in the future
      </li>
      <li>
        Enhancement of development process
      </li>
      <li>
        Reveals stability apart from scalability, usability, and compatibility
      </li>
    </ul>
  </div>
</section>
<!-- GOOD THINGS ABOUT COMPATIBILITY TESTING -->

<!-- PROCESSES INVOLVED IN COMPATIBILITY TESTING -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">PROCESSES INVOLVED IN COMPATIBILITY TESTING</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div style="font-weight: 600;">
          Steps required to do Compatibility Testing:
        </div>
        <ul>
          <li>Design Test Cases</li>
          <li>Setup of Test Cases & Environment</li>
          <li>Result Generation and Analysis</li>
          <li>Rectification & Retesting</li>
        </ul>
        <div style="font-weight: 600;">
          Common defects seen in Compatibility Testing:
        </div>
        <ul>
          <li>Variations in font size</li>
          <li>Issues related to scroll bar</li>
          <li>Alignment Issues</li>
          <li>Overlapping of contents basically in responsive design</li>
          <li>Broken frames or tables</li>
          <li>UI element Color changes</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div style="font-weight: 600;">
          Best tool used for Compatibility Testing:
        </div>
        <p>
          Many tools are available to test application compatibility. BROWSERSTACK is one of the best tools which
          supports in Cross browser testing.
        </p>
        <div>
          <img src="../../../assets/images/services/compatibility/browser-stack.png" width="100%" alt=""
            class="img-fluid" style="position: static !important;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PROCESSES INVOLVED IN COMPATIBILITY TESTING -->
