<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Core qa services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        usability testing
      </h1>
    </div>
  </div>
</section>

<!-- Section About start -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">INTRODUCTION</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p style="font-weight: 600;" class="text-center">
      "Real goal of Usability testing is to improve the design of application and not just to document its weakness"
    </p>
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/usability/usability1.png" alt="" class="img-fluid">
      </div>
      <div class="col col-12 col-md-6">
        <p>
          At Test Yantra, Usability testing is an important aspect of
          testing & is given utmost importance.
        </p>
        <p>
          With Technology advancement, the need to fit in Right features
          in lesser span of time has motivated us to conduct Usability
          testing in all projects necessarily.
        </p>
        <p>
          At Test Yantra usability problems are assessed to the
          fundamental way people communicate with the Web, and
          influence from other sites on user behavior.
        </p>
        <p>
          We gauge application from "what I think" to "what customers think".
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- PURPOSE -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">PURPOSE</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row ">
      <div class="col col-12 col-md-6">
        <p>
          when couple of projects were assessed at Test Yantra on Usability testing being conducted served
          multiple purposes.
        </p>
        <ul>
          <li>Projects exposed to usability testing showed better outcomes</li>
          <li>Created trust in customers, as we did understand user needs better</li>
          <li>User needs were best assessed, by identifying those design elements that do or do not work</li>
          <li>Helped to adapt to continuous changing end user needs</li>
          <li>Gave an early feedback of product even before it is released</li>
          <li>Understanding the foundations of human cognition helped to explain and anticipate user behavior</li>
          <li>
            Usability tests gave an opportunity to teams a shared learning experience and to establish common ground
          </li>
        </ul>
      </div>
      <div class="col col-12 col-md-6">
        <img src="assets/images/services/usability/usability2.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- PURPOSE -->

<!-- USABILITY TESTING PROCESS -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">USABILITY TESTING PROCESS</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      Usability testing is conducted in the following steps:
    </p>
    <ul>
      <li>Usability test plan</li>
      <li>Participant Hire</li>
      <li>Scenario creation</li>
      <li>Conduct usability test sessions</li>
      <li>Data Analysis</li>
      <li>Reporting</li>
      <li>
        Usability test recommendations
      </li>
    </ul>
    <img src="assets/images/services/usability/usability3.png" alt="" class="img-fluid"
      style="width:100%;position: relative;">
  </div>
</section>
<!-- USABILITY TESTING PROCESS -->

<!-- PROJECTS ASSESSED FOR USABILITY -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">PROJECTS ASSESSED FOR USABILITY</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      Test Yantra has been focusing following technologies & applications for Usability Testing
    </p>
    <ul>
      <li>Mobility</li>
      <li>Healthcare</li>
      <li>IoT</li>
      <li>eCommerce</li>
    </ul>
  </div>
</section>
<!-- PROJECTS ASSESSED FOR USABILITY -->
