.laptop {
    display: block;
}

.mobile {
    display: none;
}

.card-header {
    cursor: pointer;
}

.card-header {
    background-color: white !important;
    padding-left: 0px !important;
    border-bottom: 2px solid black !important;
    padding-right: 0px !important;
    cursor: pointer !important;
}

.accordion>.card {
    border: none;
}

@media only screen and (max-width:2560px) {
    .starting {
        margin-top: 80px !important;
    }
}

@media only screen and (max-width:1440px) {
    .starting {
        margin-top: 80px !important;
    }
}

@media only screen and (max-width:1024px) {
    .starting {
        margin-top: 80px !important;
    }
    .headings {
        font-size: 18px !important;
        /* font-weight: 700 !important; */
    }
}

@media only screen and (max-width:992px) {
    .laptop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media only screen and (max-width:768px) {
    .heading {
        font-size: 15px !important;
    }
    .headings {
        font-size: 15px !important;
        font-weight: 700 !important;
    }
    .headingsapp {
        font-size: 16px !important;
    }
    .starting {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width:425px) {
    .heading {
        font-size: 17px !important;
    }
    .headings {
        font-size: 17px !important;
        font-weight: 700 !important;
    }
    .headingsapp {
        font-size: 18px !important;
    }
    .starting {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width:375px) {
    .heading {
        font-size: 15px !important;
    }
    .headings {
        font-size: 15px !important;
    }
    .headingsapp {
        font-size: 17px !important;
        font-weight: 700 !important;
    }
    .starting {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width:320px) {
    .heading {
        font-size: 18px !important;
    }
    .headings {
        font-size: 15px !important;
        font-weight: 700 !important;
    }
    .headingsapp {
        font-size: 16px !important;
    }
}