<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-75">
        Solutions <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
   Professional Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Professional Services 
      </h1>
    </div>
  </div>
</section>

<!-- Section About start -->

<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Introduction</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p class="text-center" style="font-weight: 700;">"CLOUD-BASED TEST AUTOMATION PLATFORM FOR CONTINUOUS TESTING IN
      AGILE & DEVOPS"</p>
    <p>
      Simple and Powerful NLP Based ,end to end test automation solution
    </p>
    <ul>
      <li>
        Scriptless Functional Automation
      </li>
      <li>
        Simple deployment, Hundreds of built-in programs, Actions
      </li>
      <li>
        Inbuilt rich NLP library to handle almost all complex scenarios
      </li>
      <li>
        Automation is made easier with just simple English without the need for programming skills
      </li>
      <li>
        Enable manual test engineers to automate so that their deep product knowledge and domain expertise can be
        utilized effectively
      </li>
    </ul>
  </div>
</section>
<!-- Section About End -->

<!-- What can be automated? -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">What can be automated?</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p>
      You can plan for automating your Web Applications, Native Android iOS Applications, Web Services , Unit / White
      Box and Database testing without spending a lot of time in configuring all the needed technologies.
    </p>
    <img src="../../../assets/images/solutions/test-optimize/AllTypesOfTestingImg.png" style="position: relative;"
      alt="" class="img-fluid">
    <img src="../../../assets/images/solutions/test-optimize/testoptimze2.png" style="position: relative;" alt=""
      class="img-fluid">
  </div>
</section>
<!-- What can be automated? -->

<!-- Key features  -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">Key features</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <ul>
      <li>
        Web Application, Mobile App, Web Services / API, White Box, Unit Testing and Data Base Testing
      </li>
      <li>
        Single script can contain steps to automate Web Application, Mobile App and API
      </li>
      <li>
        NLP based
        <ul style="list-style-type: disc;">
          <li>
            Inbuilt NLP for Excel, Property files, JSON, XML
          </li>
          <li>
            Build Custom NLP
          </li>
        </ul>
      </li>
      <li>
        Automatic dependency Management
      </li>
      <li>
        Test Step group to address reusability
      </li>
      <li>
        Just in time and user friendly result – speeds up debugging
      </li>
      <li>
        Easy publishing option
      </li>
      <li>
        Perfect blend of most popular frameworks like
        <ul style="list-style-type: disc;">
          <li>
            Data driven framework
          </li>
          <li>
            Modular driven framework
          </li>
          <li>
            Keyword driven Framework
          </li>
          <li>
            Hybrid driven framework
          </li>
          <li>
            TDD
          </li>
          <li>
            BDD
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<!-- Key features -->

<!-- Technology Integrations-->
<section class="section bg-gray">
  <div class="container" style="text-align: justify;">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">
          Technology Integrations
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 bg-white" style="box-shadow: 1px 1px 5px rgb(0,0,0.5);">
        <div style="font-size: 15px;" class="mt-3 mb-3"> &nbsp;
          <i class="fas fa-cloud-download-alt text-color"></i>
          <strong>
            UNIFIED CLOUD PLATFORM
          </strong>
        </div>
        <ul>
          <li>
            Unified cloud platform for Web, Mobile Web,Android Native, iOS Native apps and Web Services
          </li>
          <li>
            Bring all your manual and automation teams together
          </li>
          <li>Test Automation and effective quality metrics</li>
          <li>
            Increase the reusability and maintainability with Step Groups and Centralized Object Repository
          </li>
          <li>
            Deep Integration with Jira, CI/CD & automation tools
          </li>
        </ul>
      </div>
      <div class="col-md-4 bg-white" style="box-shadow: 1px 1px 5px rgb(0,0,0.5);">
        <div style="font-size: 15px;" class="mt-3 mb-3">
          <i class="fas fa-history text-color"></i> &nbsp;
          <strong>TESTOPTIMIZE AUTOMATION STUDIO</strong>
        </div>
        <ul>
          <li>
            Integrate with your Continuous Delivery Pipeline
          </li>
          <li>
            Streamlines Object Spying and Repository Management
          </li>
          <li>
            Comprehensive Dashboard and & Reports for informed automated testing
          </li>
          <li>
            Seamlessly integrate TestOptimize with your agile environment to facilitate faster delivery cycles
          </li>
          <li>
            Test your app in different versions of browsers like Google Chrome, Mozilla Firefox, Safari, IE
          </li>
        </ul>
      </div>
      <div class="col-md-4 bg-white" style="box-shadow: 1px 1px 5px rgb(0,0,0.5);">
        <div style="font-size: 15px;" class="mt-3 mb-3">
          <i class="fas fa-chart-pie text-color"></i> &nbsp;
          <strong>STANDALONE PLATFORM</strong>
        </div>
        <ul>
          <li>
            With TestOptimize Server, you host TestOptimize Software on your own hardware and customize your setup
            however you'd like
          </li>
          <li>
            This is generally the best option for teams who need to manage all the details, have stricter
            requirements for data governance, and don't mind the additional complexity of hosting themselves
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Technology Integrations-->
