<!-- <section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
         <span class="text-white">&nbsp; &nbsp;</span>
      </div>
      <div class="title-branch-menu">
       <span class="text-white">&nbsp; &nbsp; Industries ></span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">Technology

      </h1>
    </div>
  </div>
</section> -->

<section>
    <div class="intro-img">
        <img src="assets/images/new-images/13.png" width="100%" style="position: relative;" alt="locations map">
    </div>
</section>

<!-- Service Overview -->
<section class="section">
    <div class="mycontainer">
        <!-- <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center;">Service Overview</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div> -->
        <div class="row">
            <!-- <div class="col-md-6">
                <img src="../../../assets/images/services/advisory/service-overview.png" alt="" class="img-fluid">
            </div> -->
            <div class="col-md-12">
                <p>We are always taking part in providing service in life science industries in the market and technology will strategically help out to get developed and commercial solutions that are best with the R&D innovations, upgrading the relationships
                    between Life Science, and Pharma companies. Our unit is always up with providing innovative solutions to the life science industry and technology that can help us strategically which defines the development, commercialization solutions
                    that facilitate R&D innovations. Our technology will always provide you up-to-date upgrades in development, core systems to support digital technology, and also drive into commercial and care management analytics. <br>
                </p>
                <p>
                    To stay up with the fresh ideology, business clients need super fast personalized IT services and the ability to look up their functionality.
                </p>
                <p>As competition on the technology in the market, the IT sector will be always under pressure to provide flexibility, and top notch services to the users. As the demands and the requirements of clients will be high so, accordingly we will
                    be providing the on-dot services to our customers. Business merchants will always look for highly civilized technology that should reach their customers in a very wide range to overcome the legacy in their business by providing more
                    function and effective performance.
                </p>

                <h1 class="text-center py-4" style="text-decoration:underline"> Related Projects</h1>
                <div class="p-4 box">
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <p class="casestudy"> TechnoElevate developed Hancom’s VBA IDE Feature</p>
                            <!-- <button type="button" class="btn casestudy-btn" href="case-studies/e-commerce">Full case study</button> -->
                            <div class="text-center py-4">
                                <a type="button" class="btn casestudy-btn mt-3" href="case-studies/technology">Full case study</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                                <img src="assets/images/Case study/Card-technology.png" alt="" class="img-fluid box-card-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Service Overview -->

<!-- People  -->

<!-- People -->

<!-- Process -->

<!-- Process  -->

<!-- Tool -->

<!-- Tool  -->

<!-- Techniques -->

<!-- Techniques  -->