<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Strategic qa <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        DEVOPS
      </h1>
    </div>
  </div>
</section>

<!-- Introduction -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">Introduction</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/services/devops/introduction.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>
          DevOps, as a culture, is defined as a combination of philosophies, practices, and tools that increases an
          organization's ability to deliver applications and services at a brisk pace.
        </p>
        <p>
          Our aim at Test Yantra is to provide:
        </p>
        <ul>
          <li>
            DevOps Testing Solutions that integrate easily with DevOps cycle
          </li>
          <li>
            Increase the frequency & quality of Continuous Deployments
          </li>
          <li>
            Realizing faster time to market
          </li>
          <li>
            Reducing the frequency of release failures
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Introduction -->

<!-- Test Yantra DevOps Capabilities  -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">Test Yantra DevOps Capabilities</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          With constantly changing business needs and emergence of new technologies like Analytics and Cloud, DevOps has
          made us become more agile and effective in delivering services to business units and their end customers.
        </p>
        <p>
          We offer solutions that implement DevOps tools thus enabling reliable & faster releases of Applications for
          the businesses. Our Testing solutions use open source/commercial tools that are connected & can easily
          integrate in the DevOps cycle.
        </p>
        <p>
          Test Yantra believes in being abreast with the latest work philosophy, practices & tools and act as a vital
          cog and provide solutions to our customers in adopting the DevOps culture.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/services/devops/capabilities.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Test Yantra DevOps Capabilities -->

