<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Core qa services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        user acceptance testing
      </h1>
    </div>
  </div>
</section>

<!-- Section About start -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">INTRODUCTION</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/UAT/uat-1.png" alt="" class="img-fluid">
      </div>
      <div class="col col-12 col-md-6">
        <p class="mb-0">
          We at Test Yantra validates the software and ensures the software works seamlessly, meets the customer
          expectation in terms of behaviour & UI and highlight all kinds of Defects.
        </p>
        <p class="mb-0">
          UAT is phase where Quality of application is determined before it is Live to actual users. Assessing the
          application as Users is very important aspect of our testing and this is considered in a very systematic
          approach.
        </p>
        <p class="mb-0">
          In this testing process the software system is tested for acceptability & validates the end to end business
          flow. Here, the actual software users are involved in testing the product to validate the product function,
          required tasks in real-world scenarios, according to specifications against the requirements.
        </p>
        <p class="mb-0">
          UAT is performed after completing System Testing and almost all of the major defects have been fixed. UAT will
          be conducted in the final stage of Software Development Life Cycle (SDLC) prior to system being delivered to a
          live production environment.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- UAT – PHASES, VERIFICATION STEPS & PROS -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">
          UAT – PHASES, VERIFICATION STEPS & PROS
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row ">
      <div class="col col-12 col-md-6">
        <ul>
          <li>
            UAT gathers the user requirements in a certifiable way
          </li>
          <li>
            Identifies the issue missed during the System testing or Regression testing
          </li>
          <li>
            It facilitates close collaboration between developers, domain experts, and
            customers
          </li>
          <li>
            It allows an unambiguous contract between QA, Clients and end customers
          </li>
          <li>
            Reduces the chance of new defects and regressions
          </li>
          <li>
            Provide an overview of the system
          </li>
          <li>
            At most giving an early view of application to customers creates confidence in
            software release to production successfully
          </li>
        </ul>
      </div>
      <div class="col col-12 col-md-6">
        <img src="assets/images/services/UAT/uat-3.png" alt=""
        class="img-fluid mt-4">
      </div>
    </div>
  </div>
</section>
<!-- UAT – PHASES, VERIFICATION STEPS & PROS -->

<!-- USER ACCEPTANCE TEST TYPES -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">USER ACCEPTANCE TEST TYPES</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-4" style="align-items: center; text-align: center;">
        <img src="assets/images/services/UAT/alpha-beta-testing.PNG" alt=""
        class="img-fluid" style="height: 500px;margin: auto;">
      </div>
      <div class="col col-12 col-md-8">
        <p>
          Following are the types of user acceptance testing that exists in Test Yantra:
        </p>
        <ul>
          <li>
            <span class="sub-heading">Alpha and Beta Testing:</span>
            Alpha testing comes into the picture in the early phase
            of development and involve internal staffs. It can also be performed by
            potential user groups, but in the development environment before the product is
            released to customers. The inputs taken from alpha testers are then used to fix
            certain bugs to improve the overall quality of the product. Unlike Alpha
            testing, Beta testing happens in the customer’s environment. It involves
            extensive testing of the product by a group of customers, who provides the
            feedback, which is then implemented to improve the product’s quality. Both alpha
            and beta testing is done before the application is released.
          </li>
          <li>
            <span class="sub-heading">Contract Acceptance Testing:</span>
            Here the software that is developed is tested
            against certain criteria. The criteria and specifications are defined when the
            contract is made and agreed upon.
          </li>
          <li>
            <span class="sub-heading">Black Box Testing: </span>
            This kind of user acceptance testing is often categorized as
            functional testing. It allows the tester to analyse certain functionalities
            without letting the testers to see the internal code. The principles of black
            box testing are similar to user acceptance testing, as the user is unaware of
            the code, but only the requirements that should be met by the software.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- USER ACCEPTANCE TEST TYPES -->

<!-- TOOLS USED FOR ACCEPTANCE TESTING -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">TOOLS USED FOR ACCEPTANCE TESTING</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      Jira is tool commonly used at Test Yantra for all kinds of Testing Types. Jira access is
      given to end customers to view defects and also to raise defects if any.
    </p>
    <p>
      Better Acceptance Test planning helps in better quality of application.
    </p>
    <img src="assets/images/services/UAT/uat-tool.png" alt="" class="img-fluid"
      style="width:100%;position: relative;">
  </div>
</section>
<!-- TOOLS USED FOR ACCEPTANCE TESTING -->
