<section class="page-title abt-bg">
    <div class="col-lg-12 text-center">
        <div style="display:flex;align-items: center;justify-content: center;">
            <div class="title-branch-menu">
                Solutions <span class="text-white">&nbsp;> &nbsp;</span>
            </div>
            <div>
                <h1 class="text-lg">
                    Web Solution
                </h1>
            </div>
        </div>

    </div>
</section>

<!-- Section About start -->
<section class="section about">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Web Development service</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/web-solution/1 (4).png" alt="" class="img-fluid m-auto">
            </div>
            <div class="col col-12 col-md-6">
                <p>
                    Web Development is one of the major services provided by TechnoElevate. We are specialized in creating enterprise-grade web solutions to meet our client’s business requirements. Our full-stack web designers and developers come with good experience to
                    understand the requirements and provide proper solutions on time.
                </p>
                <p class="laptop">
                    We are capable of creating high-end web solutions, web applications, and web portal development with exquisitely strong user experiences and molded to meet the specific industry needs of our customers. Our dedicated web developers have experience in building
                    web projects for industries with diverse business domains like Enterprise Web Application Development, e-Commerce, Job Portals, e-Learning Platforms and many more.
                </p>
            </div>
        </div>
        <div>
            <p class="mobile">
                We are capable of creating high-end web solutions, web applications, and web portal development with exquisitely strong user experiences and molded to meet the specific industry needs of our customers. Our dedicated web developers have experience in building
                web projects for industries with diverse business domains like Enterprise Web Application Development, e-Commerce, Job Portals, e-Learning Platforms and many more.
            </p>
        </div>
    </div>
</section>
<!-- Section About End -->

<!-- Custom Web Development -->
<section class="section bg-gray">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Custom Web Development</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <p>
                    We provide custom web development as a core service and have been designing various applications for start-ups as well as big enterprises. We assure you to deliver personalized and high-quality websites in an efficient and cost-effective manner.
                </p>
                <p class="laptop">
                    Our customized web development services that include both front-end and back-end development engage UI/UX design to ensure high functionality, robustness, security and scalability. Our highly skilled developers have years of experience in architecting
                    new enterprise applications as well as enhancing an existing application according to your business requirements.
                </p>
            </div>
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/web-solution/2 (4).png" alt="" class="img-fluid m-auto">
            </div>
        </div>
        <p class="mobile">
            Our customized web development services that include both front-end and back-end development engage UI/UX design to ensure high functionality, robustness, security and scalability. Our highly skilled developers have years of experience in architecting
            new enterprise applications as well as enhancing an existing application according to your business requirements.
        </p>
    </div>
</section>
<!-- Custom Web Development -->

<!-- Mobile Friendly Website Development -->
<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Mobile Friendly Website Development</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/ilIustrations-solutions/web-solution/3 (4).png" alt="" class="img-fluid m-auto">
            </div>
            <div class="col col-12 col-md-6">
                <p>
                    We undertake mobile-friendly web designing and development as it is an extreme necessity for device portability. Our team of expert front-end designers and web developers will make sure your website works great on mobile as well as on other devices.
                </p>
                <p>
                    Adopting the rising demand for enriched user experience, advanced back-end capabilities, and new transactional models, we provide expertise to strategize technical execution that works with your existing mobile applications or develop customized cross-platform
                    applications to accomplish your business needs.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Mobile Friendly Website Development-->

<section class="section bg-gray">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Web Development Lifecycle</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-12">
                <p>
                    Technoelevate works hands-in-hands with the clients to understand their business requirements and ensures to deliver a professional-looking, feature-rich, stable and scalable website by using Agile development methodology to bring a good business to your
                    doorsteps. Our web design and development team comes up with a detailed cost-benefit analysis for the project to meet your business goals, budget and timeline.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">
                    TECHNOLOGY EXPERTISE
                </h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row">
            <div class="col-md-4">
                <div><strong>Frontend</strong></div>
                <ul>
                    <li>React</li>
                    <li>React Native</li>
                    <li>Ionic</li>
                    <li>Angular</li>
                    <li>Vue.js</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="text-left"><strong>Backend</strong></div>
                <ul>
                    <li>Java</li>
                    <li>NodeJs</li>
                    <li>Python</li>
                    <li>Ruby on rails</li>
                </ul>
            </div>
            <div class="technologyMiddlewareServices col-md-4">
                <div><strong>Database</strong></div>
                <ul>
                    <li>MySQL</li>
                    <li>Oracle</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                    <li>SQLite</li>
                    <li>neo4j</li>
                </ul>
            </div>
        </div>
    </div>
</section>