<section class="mycontainer starting">
    <div class="row my-3">
        <div class="col-md-12">
            <a routerLink="/home">Home</a> &nbsp;/
            <a routerLink="/specialized-qa/support-services">Support Services</a>&nbsp;/
            <a>APPLICATION REENGINEERING</a>
        </div>
    </div>
    <div class="mydivider1 mb-3"></div>
</section>

<!-- application maintainance -->

<section class="section ">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> Application <span style="color: orange;"> Maintenance</span> <span style="color: orange;"></span> </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <p>
                    TechnoElevate provides application maintenance by modifying the system to conform to new technical specifications or functional constraints, improving performance, practices, and processes, and providing perpetual maintenance by avoiding potential problems.
                </p>
                <h3 class="heading laptop" style="text-decoration: solid;">Our services include:</h3>
                <ul class="laptop">
                    <li>
                        Re-engineering existing applications to integrate new generation technologies.
                    </li>
                    <li>
                        Fine-tuning processes to improve performance.
                    </li>
                    <li>
                        Forecasting flaws and taking preventive measures to improve availability.
                    </li>
                    <li>
                        Corrective measures to resolve bugs.
                    </li>
                </ul>
            </div>
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/services/2 (2).png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="mobile">
            <h3 class="heading" style="text-decoration: solid;">Our services include:</h3>
            <ul>
                <li>
                    Re-engineering existing applications to integrate new generation technologies.
                </li>
                <li>
                    Fine-tuning processes to improve performance.
                </li>
                <li>
                    Forecasting flaws and taking preventive measures to improve availability.
                </li>
                <li>
                    Corrective measures to resolve bugs.
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- application maintenance -->

<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> Application<span style="color: orange;"> Management </span> </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/services/3 (3).png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    By elucidating IT management policies, TechnoElevate provides reliability, security, integrity, performance, and availability for your business applications.
                </p>
                <p class="laptop">
                    Our advanced and dedicated technical support team tends to focus on providing a strong shield for your applications; applying the most recent patches, installing monitoring and reporting tools, and troubleshooting to ensure that systems run smoothly.
                </p>

                <h3 class="heading laptop" style="text-decoration: solid;"> Our services include:</h3>
                <ul class="laptop">
                    <li>
                        Firewall and network maintenance.
                    </li>
                    <li>
                        Crucial business modules such as e-commerce and CRM systems.
                    </li>

                </ul>
            </div>
        </div>
        <div class="mobile">
            <p>
                Our advanced and dedicated technical support team tends to focus on providing a strong shield for your applications; applying the most recent patches, installing monitoring and reporting tools, and troubleshooting to ensure that systems run smoothly.
            </p>

            <h3 class="heading laptop" style="text-decoration: solid;"> Our services include:</h3>
            <ul>
                <li>
                    Firewall and network maintenance.
                </li>
                <li>
                    Crucial business modules such as e-commerce and CRM systems.
                </li>

            </ul>
        </div>
    </div>
</section>