<!-- <section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block; vertical-align: super">
      <div class="title-branch-menu" style=" vertical-align: super">
        Industries <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
         eCommerce
      </h1>
    </div>
  </div>
</section> -->

<section>
    <div class="careers-img">
        <img src="assets/images/new-images/E-COMMERCE.png" width="100%" style="position: relative;" alt="locations map">
    </div>
</section>
<!-- Section About start -->
<section class="section about">
    <div class="mycontainer">
        <p>
            Here comes the electronic commerce business which has made a new mark in the market and completely turned 75% of buisnesses into digital systems with the help of trending technologies.
        </p>
        <p>
            We always have a good advisory team to educate about the knowledge of eCommerce for business executives, and we also provide this service on eCommerce to various business vendors and stakeholders in the industries. Our services are based on the company's
            EC/EDI initiative, identifying the business issues involved in EC/EDI, and developing an action plan to proceed. It will guide customers to the appropriate follow-on services in the below categories.

        </p>

    </div>
</section>
<!-- Section About End -->

<!-- Our Expertise -->
<section class="section bg-gray">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">

                <!-- <div class="mydivider1 mb-3"></div> -->
            </div>
        </div>
    </div>

    <div class="mycontainer">
        <p>
            <b style="font-size: 17px;">Electronic Retailing Trade:-</b> Electronic Retailing Trade Services are designed to provide you with the ability to implement secure,scalable solutions for conducting business transactions for both business-to-business
            and business-to-consumer applications over the Internet. We use our in-depth knowledge, extensive domain expertise and provide highly integrated, hybrid and cost-effective testing solution and solutions for large /medium retail businesses.
            Our valued customers use our solution approach to optimize their single or multi-store operations and respond to the rapidly changing market and customer demands, through a results-driven approach to Quality Optimization.
        </p>
        <p>
            <b style="font-size: 17px;">Electronic Transaction Services:-</b> Electronic Transaction Services are designed for customers preparing or conducting e-Commerce (EC) or electronic data interchange (EDI), majorly we are into EDI implementation.
        </p>

    </div>

</section>
<section class="section">
    <div class="mycontainer">
        <!-- <p>
  <b> Related Projects</b><br>
   E-Commerce platform development for online shopping cart.
   <a href="case-studies/e-commerce">Full case study</a>
 </p> -->
        <h1 class="text-center py-4" style="text-decoration:underline"> Related Projects</h1>
        <div class="p-4 box">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <h3 class="ecommerce"> E-Commerce Platform Development For Online Shopping Cart.</h3>
                    <!-- <button type="button" class="btn casestudy-btn" href="case-studies/e-commerce">Full case study</button> -->
                    <div class="text-center py-4">
                        <a type="button" class="btn casestudy-btn mt-5" href="case-studies/e-commerce">Full case study</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                        <img src="assets/images/Case study/Card-ecommerce.png" alt="" class="img-fluid box-card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Expertise -->

<!-- Our Solution Approach -->
<!-- <section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Retail</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
      <div class="col col-md-12">
        <p>
          “THE INTERNET DOES SPEAK, AND THIS IS THE MEDIUM”
          In today's world the internet plays a major role in every Small business to large scale enterprise in conducting business over the Internet, the journey becomes more digital with us.

        </p>
        <p>
          We have noticed that a couple of years have been years for the retail industry, which benefited from digital technologies such as AI, Data Analytics, Hybrid Cloud, and the Internet of Things (IoT)..
        </p>
        <p>
          As per our clients market survey, humankind has been completely ruled by technology in Day-to-day daily life. So to create a positive impact on their business they completely tend towards technology and that is their major focus. So, as a service provider to the retail business customers using major technology like Data analytics,
          Hybrid cloud, and AI are the mainstream platforms we are using to support our 40+ customers in the market.
        </p>

      </div>
    </div>
  </div>
</section> -->
<!-- Our Solution Approach -->

<!-- Our QA Service in RCoE -->
<!-- <section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Our QA Service in RCoE</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <p>
          Our Testing services cover the entire retail IT spectrum and provide the appropriate test management approach
          for the enterprise, warehouse, logistics and in-store solutions.
        </p>
        <ul>
          <li>RFID testing.</li>
          <li>Security testing.</li>
          <li>Functional, regression, performance testing.</li>
          <li>POS testing</li>
          <li>Device testing</li>
          <li>Compliance testing</li>
          <li>Test process consulting</li>
          <li>SOAT (System Operation Acceptance Testing)</li>
        </ul>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/industry/retail.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
<!-- Our QA Service in RCoE -->

<!-- Benefits -->
<!-- <section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Benefits</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <ul>
      <li>
        Test Yantra’s solution approach helps in managing risk better, aligning with business and end-user with one
        captivating retail solution
      </li>
      <li>
        We have worked with world’s top notch multinational conglomerate who caters to apparel, footwear, consumer
        electronics, cosmetics & beauty products, home improvement and baby products
      </li>
      <li>
        Accelerate continuous testing with our robust, scalable and reliable test solution
      </li>
      <li>
        Increased Maintenance Efficiency due to 1 solution covering all - POS, Front end and Back end
      </li>
      <li>
        We have best available talent pool, technology, and testing process for leading players in the retail industry
      </li>
      <li>
        All our resources are certified testing resources with diversified expertise
      </li>
      <li>
        Our resources are experience in testing different utility product implementation, upgrades and enhancements
      </li>
    </ul>
  </div>
</section> -->
<!-- Section About End -->