<div class="performance-img m-auto">
    <img src="assets/images/new-images/2-_4_.webp" width="100%" style="position: relative;" alt="locations map">
</div>

<!-- Section About start -->
<section class="about-us" id="about-us">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 style=" letter-spacing: 0; font-size: 40px;text-align: center; margin-top: 30px;"> <span style="color: #ff9800;">Services &
            Solutions </span> for the Enterprise Business</h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <p style="text-align: justify;">
                    Software systems allow businesses to operate more efficiently while also managing growth more effectively. As organizational practices have changed and technology has rapidly improved, modern businesses have begun to rely more on such software systems.
                    They are now investing in cutting-edge technology that will change the way business operate.
                </p>
                <p class="laptop" style="text-align: justify;">
                    We provide the ideal Offshore Development Center set up at a reasonable price for development and support projects. We take complete responsibility for the project, including application maintenance and development, independent verification and validation,
                    application modernization, technology consulting and devops. We are committed to the possibility of developing any type of software and managing projects of any length.
                </p>
                <p class="laptop" style="text-align: justify;">
                    TechnoElevate possesses the requisite qualifications for developing custom software solutions that add enormous value to stakeholders while also improving the customer experience. As we dive deep to understand their needs and deliver long-lasting and
                    effective solutions, our business customers quickly become long-term partners.
                </p>
            </div>
            <div class="col col-12 col-md-6">
                <img src=" ../../../assets/images/managed-services/managed-service.png" alt="" style="margin-top: 45px;
        position: relative;" class="img-fluid">
            </div>
        </div>
        <div class="mobile">
            <p style="text-align: justify;">
                We provide the ideal Offshore Development Center set up at a reasonable price for development and support projects. We take complete responsibility for the project, including application maintenance and development, independent verification and validation,
                application modernization, technology consulting and devops. We are committed to the possibility of developing any type of software and managing projects of any length.
            </p>
            <p style="text-align: justify;">
                TechnoElevate possesses the requisite qualifications for developing custom software solutions that add enormous value to stakeholders while also improving the customer experience. As we dive deep to understand their needs and deliver long-lasting and
                effective solutions, our business customers quickly become long-term partners.
            </p>
        </div>
    </div>

</section>
<!-- Section About End -->

<!-- Application Development & Maintenance
 -->
<section class="section ">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> Application <span style="color: #ff9800 !important;"> Development</span> & <span style="color: #ff9800;"> Maintenance</span>
                </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">

            <div class="col col-12 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <img src="../../../assets/images/managed-services/manageddevelop.png" alt="" class="img-fluid" style="margin-top: 20px;position:relative">
                </div>

            </div>
            <div class="col col-12 col-md-6">
                <p>
                    Today's businesses must respond quickly to changing customer requirements. And technology is frequently the catalyst for change. Agility is also determined by the readiness with which software solutions can adapt to changing customer needs on a consistent
                    basis. Often, agility and speed are critical to the customer experience, business growth and profits.
                </p>
                <p class="laptop">
                    Fortunately, technologies like mobile, web, cloud, artificial intelligence and big data have made business software development much more customer-focused and personalized. TechnoElevate creates value for customers by utilizing focused and participatory
                    software development methodologies that include emerging technologies. Our domain focus gives us an advantage when it comes to supporting our customers throughout the software lifecycle.
                </p>
                <ul class="laptop">

                    <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                    <li>
                        Corrective maintenance
                    </li>
                    <li>
                        Application modernization
                    </li>
                    <li>
                        Application Enhancement
                    </li>
                    <li>
                        Migration Services
                    </li>
                </ul>
            </div>

        </div>
        <div class="mobile">
            <p>
                Fortunately, technologies like mobile, web, cloud, artificial intelligence and big data have made business software development much more customer-focused and personalized. TechnoElevate creates value for customers by utilizing focused and participatory
                software development methodologies that include emerging technologies. Our domain focus gives us an advantage when it comes to supporting our customers throughout the software lifecycle.
            </p>
            <ul>

                <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                <li>
                    Corrective maintenance
                </li>
                <li>
                    Application modernization
                </li>
                <li>
                    Application Enhancement
                </li>
                <li>
                    Migration Services
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- Independent verification and validation  -->
<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> independent <span style="color: #ff9800;"> Verification </span> & <span style="color: #ff9800;"> validation </span> </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <p>
                    We place a high value on software quality. We believe in the right of customers to superior software and work hard to maintain consistency in quality levels. We believe that all businesses are technology businesses in some way, and that software is an
                    essential component of the customer experience. Not all organizations are equipped to focus on software quality and would require the assistance of an outside expert to carry out software verification and validation.

                </p>
                <p class="laptop">
                    TestYantra has extensive experience collaborating with customers to ensure that their software is error-free, eliminating the need for additional costs to fix issues after release.
                </p>
                <p class="laptop">
                    Experts from our end collaborate with customers to design the most dependable and efficient systems that outperform expectations.
                </p>
                <ul class="laptop">
                    <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                    <li>
                        Functional Testing
                    </li>
                    <li>
                        Test Automation
                    </li>
                    <li>
                        Consulting Services
                    </li>
                </ul>
            </div>
            <div class="col col-12 col-md-6">
                <div class="d-flex align-items-center h-100">
                    <img src="../../../assets/images/managed-services/managed-development.png" alt="" class="img-fluid" style="width: 100%;position: relative;">
                </div>

            </div>
        </div>
        <div class="mobile">
            <p>
                TestYantra has extensive experience collaborating with customers to ensure that their software is error-free, eliminating the need for additional costs to fix issues after release.
            </p>
            <p>
                Experts from our end collaborate with customers to design the most dependable and efficient systems that outperform expectations.
            </p>
            <ul>
                <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                <li>
                    Functional Testing
                </li>
                <li>
                    Test Automation
                </li>
                <li>
                    Consulting Services
                </li>
            </ul>
        </div>
    </div>
</section>



<!-- Application modernization -->
<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> Application <span style="color: #ff9800;"> Modernization </span> </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/managed-services/managed-consulting.png" alt="" class="img-fluid" style="width: 100%;margin-top: 40px;">
            </div>

            <div class="col col-12 col-md-6">
                <p>
                    Legacy applications can consume a significant portion of an organization's IT budget. High legacy maintenance costs, limited flexibility for change in response to changing business needs, and an unfriendly user experience are just a few of the reasons
                    why companies should think about upgrading and modernizing their in-house applications.
                </p>
                <p class="laptop">
                    TechnoElevate has extensive experience re-platforming and reengineering mature software systems. Our confidence stems from our experience developing and maintaining enterprise applications for a diverse range of global clients. Our team of innovators,
                    consultants, architects, and designers can help you manage and transform your business solutions.
                </p>
                <ul class="laptop">
                    <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                    <li>
                        Portfolio assessment & planning
                    </li>
                    <li>
                        Application Re-architecture
                    </li>
                    <li>
                        Application Re-engineering
                    </li>
                    <li>
                        Application Migration & Re-hosting
                    </li>
                    <li>
                        Data Migration
                    </li>
                    <li>
                        Application Integration
                    </li>
                </ul>
            </div>

        </div>
        <div class="mobile">
            <p class="laptop">
                TechnoElevate has extensive experience re-platforming and reengineering mature software systems. Our confidence stems from our experience developing and maintaining enterprise applications for a diverse range of global clients. Our team of innovators,
                consultants, architects, and designers can help you manage and transform your business solutions.
            </p>
            <ul class="laptop">
                <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                <li>
                    Portfolio assessment & planning
                </li>
                <li>
                    Application Re-architecture
                </li>
                <li>
                    Application Re-engineering
                </li>
                <li>
                    Application Migration & Re-hosting
                </li>
                <li>
                    Data Migration
                </li>
                <li>
                    Application Integration
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- technology consulting -->

<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> Technology <span style="color: #ff9800;"> Consulting </span> </h2>
                <div class="mydivider1 "></div>
            </div>
        </div>
        <div class="row mt-15">

            <div class="col-md-6">
                <p>
                    Digital technologies have increased the importance of businesses relying on an IT partner who can help with technology requirements across the entire IT spectrum. Utilize TechnoElevate's extensive industry knowledge to improve your company's performance
                    and growth.
                </p>
                <p class="laptop">
                    Skilled consultants can handle the difficult task of determining the best technology for your specific requirements. Our technology consulting services can help you gain market share, improve customer experience, and increase your bottom line by implementing
                    the right technology solutions.
                </p>

                <ul class="laptop">
                    <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                    <li>
                        Tech Assessment
                    </li>
                    <li>
                        DevOps
                    </li>
                    <li>
                        Solution Alternatives
                    </li>
                    <li>
                        Migration Feasibility
                    </li>
                    <li>
                        Strategy Formulation
                    </li>
                    <li class="servicesDetails">
                        Organizational Readiness Consulting
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/managed-services/devops.png" alt="" class="img-fluid" style="width: 100%;margin-top: 30px;">
            </div>
        </div>
        <div class="mobile">
            <p>
                Skilled consultants can handle the difficult task of determining the best technology for your specific requirements. Our technology consulting services can help you gain market share, improve customer experience, and increase your bottom line by implementing
                the right technology solutions.
            </p>

            <ul>
                <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                <li>
                    Tech Assessment
                </li>
                <li>
                    DevOps
                </li>
                <li>
                    Solution Alternatives
                </li>
                <li>
                    Migration Feasibility
                </li>
                <li>
                    Strategy Formulation
                </li>
                <li class="servicesDetails">
                    Organizational Readiness Consulting
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- devops -->
<section class="section ">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> DevOps
                </h2>
                <div class="mydivider1"></div>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="row ">
            <div class="col col-12 col-md-6">
                <img src="../../../assets/images/managed-services/manage-devops.png" alt="" class="img-fluid" style="margin-top: 10px;width: 83%">
            </div>
            <div class="col col-12 col-md-6">
                <p>
                    The traditional method of software delivery is no longer used. Application development has evolved from being a series of discrete events that culminate in maintenance efforts to being a continuous process.
                </p>
                <p class="laptop">
                    DevOps integrates operational and development activities to make the process more efficient and straightforward. As a result, there is greater agility and quality, which aids in faster turnaround times and meeting customer expectations.

                </p>
                <ul class="laptop">
                    <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                    <li>
                        Performance
                    </li>
                    <li>
                        Strategy
                    </li>
                    <li>
                        Implementation
                    </li>
                    <li>
                        Consulting
                    </li>
                </ul>
            </div>

        </div>
        <div class="mobile">
            <p>
                DevOps integrates operational and development activities to make the process more efficient and straightforward. As a result, there is greater agility and quality, which aids in faster turnaround times and meeting customer expectations.

            </p>
            <ul>
                <h3 class="mt-4" style="text-decoration: solid;margin-left: -17px;">Services:</h3>
                <li>
                    Performance
                </li>
                <li>
                    Strategy
                </li>
                <li>
                    Implementation
                </li>
                <li>
                    Consulting
                </li>
            </ul>
        </div>
    </div>
</section>


<!--team action -->

<section class="home section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> <span style="color: #ff9800;"> team </span> in action </h2>
                    <div class="mydivider1 "></div>
                    <p>When you consider hiring a Delivery Team, you are hiring the services of an autonomously managed team of engineers who will handle your project. As a result, a Delivery Team necessitates a comprehensive structure capable of completing
                        the project according to your specifications and feedback. To that end, key roles that will see the project through to completion are typically included in these teams. Among these are:</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="accordion_two_section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 accordionTwo">
                <div class="panel-group" id="accordionTwoLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftone" aria-expanded="false" class="collapsed"> <strong> Front End Developers</strong> </a>
                            </h4>
                        </div>
                        <div id="collapseTwoLeftone" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                            <div class="panel-body"> These professionals are in charge of developing the 'visible' part of the project, coding, and testing user interface elements and functionality. </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftTwo" aria-expanded="false"> <strong> Back End Developers</strong> </a>
                            </h4>
                        </div>
                        <div id="collapseTwoLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body"> These are the experts in charge of everything that happens behind the scenes. In other words, they focus solely on the inner logic and background components.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftThree" aria-expanded="false"><strong> Tester</strong> </a> </h4>
                        </div>
                        <div id="collapseTwoLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body"> Quality assurance engineers are in charge of the overall quality of the development lifecycle. They ensure that not only is the product as bug-free as possible but that the processes used to build it are of the highest quality
                                as well. </div>
                        </div>
                    </div>


                    <!-- /.panel-default -->
                </div>
                <!--end of /.panel-group-->
            </div>
            <!--end of /.col-sm-6-->
            <div class="col-sm-6 accordionTwo">
                <div class="panel-group" id="accordionTwoRight">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightone" aria-expanded="false"> <strong> UX/UI Designers </strong> </a>
                            </h4>
                        </div>
                        <div id="collapseTwoRightone" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body"> They are in charge of ensuring that the user experience is intuitive, simple, and engaging.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightTwo" aria-expanded="false"> <strong> DevOps Professionals </strong> </a>
                            </h4>
                        </div>
                        <div id="collapseTwoRightTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body"> Professionals who collaborate with the team's developers to better coordinate development, operations, and testing efforts. </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightFour" aria-expanded="false"> <strong> Project Executives</strong> </a>
                            </h4>
                        </div>
                        <div id="collapseTwoRightFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">They are the leaders of the development team, establishing, planning, designing, enforcing, and monitoring the entire development process.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                </div>
                <!--end of /.panel-group-->
            </div>
            <!--end of /.col-sm-6-->
        </div>
    </div>
    <!--end of /.container-->
</section>

<section class="home section bg-gray ">
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mb-4">

                </div>
                <div style=" letter-spacing: 0;text-align: center;">
                    <img src="../../../assets/images/managed-services/bcakticks.png" class="imgs" /> At TechnoElevate, we tailor our specialized team to your specific business needs; the structure for your project may differ. Our primary goal, however,
                    remains the same to assemble the best team possible to create the digital solution you seek.

                </div>

            </div>
        </div>
    </div>
</section>
<br>
<!-- why inovate your business with us  -->
<div class="container-fluid mb-5">
    <div class="row justify-content-center row-1">
        <div class="col-lg-6 col-md-8 col-sm-10 ">
            <h2 class="tagline" style=" letter-spacing: 0; font-size: 38px; text-align: center;"> Why <span style="color: #ff9800;"> innovate </span> your business with us?</h2>
            <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="colmd-12">
                                        <h5 class="card-text bold text-center">Consistently high-quality results achieved through the use of strong agile teams and dedicated QA practices. </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-text bold text-center">Highly cost-effective and best-of-breed solutions with no surprises at the last minute.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-text bold text-center">Translucent project management with strict deadline adherence. <br></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="section">
    <div class="mycontainer">
        <h2>FAQ's</h2>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What factors need to be considered before selecting a software development company?</p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">The best software development company must be chosen for a business to prosper. Choosing a software development partner requires consideration of a number of factors. Assess the company's business knowledge, experience, organizational
                                structure, operational processes, technical prowess, position in the market, pricing strategies, and communication. Working with businesses that have exceptional competency is crucial to the growth and quality of your upcoming
                                software. For more detailed information, click here. (should be a redirecting link to a blog/MS page).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingtwo">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">How much does software development cost?</p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">How much does software development cost? Every piece of software developed is distinct and specifically designed to meet the needs of the organization. As a result, it is unclear to share an estimate without having a thorough
                                grasp of the project needs. The cost of developing software is affected by a number of variables, including the size and complexity of the project, the technology employed, the number of personnel recruited, and even the
                                geographic location of the developers. The ultimate price of the program will take into account all of these factors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingthree">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What distinguishes TechnoElevate from my in-house software development team? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">It can be a good idea to employ a freelancer or your own in-house software development team. Building an internal staff, however, is far more expensive and time-consuming. On the other side, using a freelancer can save money,
                                but the risks are significantly greater. With TechnoElevate, you'll have access to fully qualified staff, standardized, efficient processes, and a project manager. As a liaison for the team, the project manager will support
                                and motivate them while keeping an eye on deadlines. TechnoElevate guarantees every stage of the project to be completed with the utmost expertise.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingfour">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Can we update the software as new technology becomes available in the future? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">Yes. To adhere to emerging technologies, we are delighted to improve, update, and further develop software. At TechnoElevate, we have qualified employees who are knowledgeable about the most recent trends and technological
                                platforms and who can produce goods that are competitive.
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-header" id="headingfive">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Do you provide any other services besides software development? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">Yes, in addition to providing software development services, we also work with leaders in the tech industry to develop unique visions and disruptive solutions by combining our strong technical expertise with cutting-edge technologies
                                like Data Analytics, Cloud Computing, and IoT. Additionally, we provide the extra expertise required to support the success of your projects through our staffing services, which range from individual specialist engineers
                                to highly scalable teams. Each solution created by TechnoElevate is intended to help our customers accelerate the process of going digital.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingfive">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Is DevOps a tool? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsesix" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p>It is incorrect to refer to DevOps as a tool.</p>
                            <p class="faq-body"> The words Dev and Ops, which stand for development and operations, are combined to form this phrase. It is a workplace that combines people, technology, and processes. By embracing a DevOps culture with its practices and technology,
                                teams are better equipped to better respond to client requirements, increase confidence in their applications, and achieve business goals more rapidly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingseven">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Which approach should I adopt: DevOps or Agile—should? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body"> Since both Agile and DevOps are cutting-edge software development paradigms, they are not incompatible and are most frequently used in tandem. But in line with the current market trend, businesses are releasing minor updates
                                to the software in order to improve the end result and boost consumer happiness. The need for quick and dependable software development as well as deployment is met by DevOps. Agile, however, solely emphasizes the development
                                side of things.

                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingeight">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">How does DevOps drive business results? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body"> The core principle of DevOps is to continuously deliver value to clients. The financial benefits of implementing DevOps should be evaluated in light of your company's goals and objectives. By encouraging frequent code updates,
                                DevOps teams can lower the incidence of implementation issues. This significantly shortens the recuperation period and enables a swift market reaction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>