<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Core qa services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Functional Integration System Testing
      </h1>
    </div>
  </div>
</section>

<!-- FIST Introduction -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">FIST Introduction</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/fist/Picture1.png" alt="" class="img-fluid m-auto">
      </div>
      <div class="col col-12 col-md-6">
        <p>
          Functional Testing or FIST is a testing technique used in Software Testing used to test each function of the
          software application to see if it operates in conformance with the requirement specification. This is a Black
          Box testing technique and focuses on manual testing as well as automation testing.
        </p>
        <p>
          FIST is Functional Integration System Testing which forms the main aspects of Functional Test scenarios.
          Through this type of Testing complete feature functionalities are assessed.
        </p>
        <div>
          <strong>
            Functional Testing involves checking of the following
          </strong>
        </div>
        <ul>
          <li>
            User Interface
          </li>
          <li>
            API's
          </li>
          <li>
            Database
          </li>
          <li>
            Security
          </li>
          <li>
            Client/ server applications
          </li>
          <li>
            Functionality of the Application Under Test
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- FIST Introduction -->

<!-- Fist Testing -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">FIST Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p class="text-center">
      At Test Yantra Functional Testing defines the process of testing of reliability, usability etc.
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="ty-table-head">
          <tr>
            <th>Parameters</th>
            <th>Functional Testing</th>
            <th>Non-Functional Testing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Objective</th>
            <td>It carries out the verified software actions.</td>
            <td>It is used to verify the performance of the software.</td>
          </tr>
          <tr>
            <th>Area of Focus</th>
            <td>It concentrates on the user requirement.</td>
            <td>It concentrates on the user expectation.</td>
          </tr>
          <tr>
            <th>Ease of Testing</th>
            <td>Easy to execute black box testing.</td>
            <td>Easy to execute white box testing.</td>
          </tr>
          <tr>
            <th>Functionality</th>
            <td>It describes what the product does.</td>
            <td>It describes how the product works.</td>
          </tr>
          <tr>
            <th>Execution</th>
            <td>It takes place before non-functional testing.</td>
            <td>It takes place after functional testing.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- Fist Testing -->

<!-- Fist Testing Types -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">FIST Testing Types</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <img src="../../../assets/images/services/fist/fist-testing-types.PNG" alt="" class="img-fluid m-auto w-100"
      style="position: relative;">
  </div>
</section>
<!-- Fist Testing Types -->

<!-- Unit Testing -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Unit Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          At Test Yantra Unit Testing is the first phase of validation where we assess the Unit Testcase execution
          results. Unit Testing is generally done by developers or by the Automation experts.
        </p>
        <p>
          Unit testing is the first level of testing features of an application.
        </p>
        <p>
          When Unit testing is 100% correct, 80% of testing is taken care during this phase.
        </p>
        <p>
          As every testing entry criteria , Unit testing execution reports are a must.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/services/fist/unit-test-life-cycle.png" alt="" class="img-fluid m-auto">
      </div>
    </div>
  </div>
</section>
<!-- Unit Testing -->

<!-- Smoke Testing & Sanity Testing -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Smoke Testing & Sanity Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/services/fist/smoke&sanity.png" alt="" class="img-fluid m-auto">
      </div>
      <div class="col-md-6">
        <p><strong>Smoke Test</strong></p>
        <p>
          Checking the basic & critical feature of an application before processing with deep regressing testing is
          known as smoke testing.
        </p>
        <p><strong>Sanity Test</strong></p>
        <p>
          This is a testing type referred to check added features , also sanity test ensures testing bed is ready to
          test all features of application.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Smoke Testing & Sanity Testing -->

<!-- Integration Testing -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Integration Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>
          Integration Testing ensures flow of data from one module to another module, making flows of
          application functionally right.
        </p>
        <p>
          <strong>Types of Integration:</strong>
        </p>
        <ul>
          <li>
            Incremental testing
            <ul style="list-style: disc;">
              <li>
                Top down Approach
              </li>
            </ul>
          </li>
          <li>
            Non – Incremental testing or Big Bang theory
            <ul style="list-style: disc;">
              <li>
                Bottom up Approach
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/images/services/fist/Picture2.png" alt="" class="img-fluid m-auto">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="mt-3 mb-3 text-center" style="text-transform: uppercase;">
          <strong>Incremental Integration testing</strong>
        </div>
        <p>
          We go for this approach whenever there is a clear relationship between modules.
        </p>
        <p>
          Ex: Booking Ticket, shopping
        </p>
      </div>
      <div class="col-md-6">
        <div class="mt-3 mb-3 text-center" style="text-transform: uppercase;">
          <strong>Non Incremental Integration testing</strong></div>
        <p>
          We go for this approach whenever there is no clear relationship between the modules.
        </p>
        <p>
          EX: we create data in one modules & check for the saved data by banking on all other.
        </p>
        <p>
          Before integration testing each & every module working independently.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Integration Testing -->

<!-- System Testing -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">System Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <p>
          This test type is one of important aspects of Software Testing, ensuring end to end features of application
          are working fine.
        </p>
        <p>
          Here a user navigates through all the require modules of an application and check the system as a
          whole (Respective to their Assign Modules).
        </p>
        <p>
          This Testing ensures end to end flow of a feature or a requirement.
        </p>
        <p>
          Ex :- User logging into Gmail , checking inbox and logging out
        </p>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/fist/Picture3.png" alt="" class="img-fluid m-auto">
      </div>
    </div>
  </div>
</section>
<!-- System Testing -->

<!-- Types of System Test -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Types of System Test</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      System Testing is usually carried out at Test yantra by a team that is independent of the development team in
      order to measure the quality of the system unbiased. It includes both functional and Non-Functional testing.
    </p>
    <img src="../../../assets/images/services/fist/system-testing-types.PNG" alt="" class="img-fluid m-auto w-100"
      style="position: relative;">
  </div>
</section>
<!-- Types of System Test -->

<!-- System Testing Process -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">System Testing Process</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      At Test Yantra every build has to get assessed for System Testing, which is performed step by step in the
      following ways:
    </p>
    <ul>
      <li>
        <strong>Setting up Right Environment: </strong> Create testing environment for the better quality testing.
      </li>
      <li>
        <strong>Prepare Test Case: </strong>Generate test case for the testing process.
      </li>
      <li>
        <strong>Analyze and prepare required Test Data: </strong>Generate the data that is to be tested.
      </li>
      <li>
        <strong>Test Case Execution: </strong>After the generation of the test case and the test data, test cases are executed.
      </li>
      <li>
        <strong>Defect Identification & Reporting: </strong>Defects in the system are detected.
      </li>
      <li>
        <strong>Regression Test:</strong>It is carried out to test the side effects of the testing process.
      </li>
      <li>
        <strong>Log Defects: </strong>Defects are fixed in this step.
      </li>
      <li>
        <strong>Re-execute & Retest: </strong>If the test is not successful then again test is performed.
      </li>
    </ul>
  </div>
</section>
<!-- System Testing Process -->

<!-- Advantages of System Testing   -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Advantages of System Testing</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/images/services/fist/advantages.png" alt="" class="img-fluid m-auto">
  </div>
  <div class="col-md-6">
    <ul>
      <li>Detects the maximum bugs</li>
      <li>Verifies system against all kinds of requirements</li>
      <li>Creates confidence among the team for release of software</li>
      <li>Uses the test environment similar to real/ business environment</li>
      <li>Testers do not need coding knowledge to test this as its black box testing</li>
    </ul>
  </div>
</div>
  </div>
</section>
<!-- Advantages of System Testing -->
