<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Core qa services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Regression testing
      </h1>
    </div>
  </div>
</section>

<!-- Section About start -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Introduction</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p>
      We at Test Yantra believe testing as a very creative job, something to be thought about and something to be
      discovered. We have various means to catch the defects in an application. But this is something which any layman
      can do. Approaching right techniques, gives way to better quality always. We need to move ourselves from the old
      traditional way of identifying/executing scenarios to more focused time based & quality based approach. We have
      crossed the times where Test case preparation was more detailed based. A traditional approach is required to
      meet
      the current quality expectations in a shorter span of time.
    </p>
    <p class="mb-0">
      Software quality has been one of the most important aspects of Software Engineering. Testing is one of
      areas which mainly focus on achieving expected quality & is being focused at Test Yantra.
    </p>

    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/regression-introduction.jpg" alt="" class="img-fluid m-auto">
      </div>
      <div class="col col-12 col-md-6">
        <p class="mb-0">
          Somewhere in this race of meeting Quality, technology has been moving from more process oriented products
          to delivering the product in shorter periods, leading very less processes to be followed, & compromising
          on quality.
        </p>
        <p class="mb-0">
          We have emerged ourselves more from V & V models to Agile- continuous Integration builds, from detailed
          specification documentation to shorter task descriptions, from more detailed way of testing to quicker way
          of testing, but expectations on quality has been the same. So what’s the best way of Testing? What has to
          be adapted as best way towards testing?
        </p>
        <p>
          Practices being made at Test Yantra help to understand what the creative is and more methodical approach
          towards testing is?
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- REGRESSION IN TEST LEVELS -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">REGRESSION IN TEST LEVELS</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <ul>
      <li>
        At Test Yantra, Unit testing is considered as one of important aspects where major amount of the defects can
        be stopped from being introduced into the Test Life cycle or into further stages of testing. This Unit tested
        build is released to QA for executions in the QA environment.
      </li>
      <li>
        Our QA analyst evaluates the stability of build through Smoke testing and if execution is successful, he
        passes it for further stages of Functional & Non-Functional Test Evaluations.
      </li>
      <li>
        When it is first build evaluation in Cycle 1 – Functional testing like Integration/ System testing is to be
        looked upon with at most priority. Defects which are detected during this testing are reported by QA and same
        are being fixed by Development team.
      </li>
      <li>
        Developer shares Build 2 with defect fixes in Cycle 2 – This is the phase where build has to be evaluated to
        see if earlier detected defects are no more seen and also fix of these defects by developers have not
        introduced any new defects into application.
      </li>
      <li>
        Defects found during this phase are marked as ‘Regression’ defects. Meaning some part of code which was
        working well earlier, is not working anymore.
      </li>
    </ul>
    <img src="../../../assets/images/services/regression/test-levels.PNG" style="position: relative;"
      width="100%" alt="">
  </div>
</section>
<!-- REGRESSION IN TEST LEVELS -->

<!-- REGRESSION TEST CYCLES -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">REGRESSION TEST CYCLES</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <p style="margin-bottom: 0;">
          Retesting on new builds for same test cases can ensure closure of defects.
        </p>
        <p style="margin-bottom: 0;">
          Until regression defects no more show up in the application, retesting has to be done in
          multiple times considering Functional & Non – Functional aspects of application.
        </p>
        <p style="margin-bottom: 0;">
          During this testing, priority of test scenarios / test cases is also identified by
          below-
        </p>
        <ol style="padding-left: 17px;">
          <li>Defects Severity</li>
          <li>Functional/Business need</li>
        </ol>
        <p style="margin-bottom: 0;">
          Regression Testing can be stopped only when the below conditions are seen
        </p>
        <ol type="a" style="padding-left: 17px;">
          <li>No more reoccurring defects seen in application even after multiple build merges
          </li>
          <li>All the opened defects are closed.</li>
        </ol>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/regression/test-cycle.png" alt="" class="img-fluid m-auto">
      </div>
    </div>
  </div>
</section>
<!-- REGRESSION TEST CYCLES -->

<!-- IDENTIFYING TEST SCENARIOS FOR REGRESSION -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">IDENTIFYING TEST SCENARIOS FOR REGRESSION</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      There is a systematic approach to identify the Regression Scenarios. In the Agile era, it is
      important to keep a check on the schedule of project and design the Test Scenarios/ Cases.
    </p>
    <p>
      Ideally design of Test Scenarios which cover end to end cases, edge cases, security and performance
      cases should be part of Regression. A test bed consisting of all possible scenarios have to be noted
      down and pick from these the following scenarios –
    </p>
    <ol style="padding-left: 17px; list-style: lower-alpha;">
      <li>
        Critical 25% of scenarios which focus on key functionalities of application- Make them part
        of Smoke Test Scenarios
      </li>
      <li>
        75% of rest of scenarios which focus on remaining features of application- Make them part of
        System Test cases
      </li>
      <li>
        Together of (a) & (b) should make Regression suite of application
      </li>
      <li>
        This Regression suite needs constant updation depending on the functionalities of application
      </li>
      <li>
        Baseline Regression suite should be taken as Test Scenarios for further application
        Automation
      </li>
    </ol>
  </div>
</section>
<!-- IDENTIFYING TEST SCENARIOS FOR REGRESSION -->
