<section>
    <div class="careers-img">
        <img src="assets/images/new-images/3-_4_.webp" width="100%" style="position: relative; " alt="locations map">
    </div>
</section>

<!-- Benefits and Results -->
<section class="section mt-3">
    <div class="mycontainer">
        <div class="row">
            <div class="col-md-6">
                <p>
                    With TechnoElevate, you can start with a single dedicated expert right away or build a full-featured team in as little as 2-4 weeks. We can scale up and down the team in real-time to meet the needs of the project, and we can deliver in technical experts
                    as needed. On the client side, we assign our engineers to a variety of projects and deploy our resources for a set period of time for each project.
                </p>
                <p class="laptop">
                    This is done on a six-month, twelve-month contract, or contract-to-hire basis. We excel in total quality management, production management, supplier management, inventory management, and human resource management.
                </p>
                <p class="laptop">
                    <strong> Our Unique Approach & Process:</strong>
                </p>
                <div class="row laptop">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                Just-In-Time Hiring
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>
                                Forecast Based Hiring
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>
                                Deploy Observe Bill
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>
                                Build Operate Transfer
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6" id="professional">
                <img src="../../../assets/images/managed-services/professional.png" alt="" class="img-fluid" style="margin-top: 36px; ">
            </div>
        </div>
        <div class="mobile">
            <p>
                This is done on a six-month, twelve-month contract, or contract-to-hire basis. We excel in total quality management, production management, supplier management, inventory management, and human resource management.
            </p>
            <p>
                <strong> Our Unique Approach & Process:</strong>
            </p>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            Just-In-Time Hiring
                        </li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            Forecast Based Hiring
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            Deploy Observe Bill
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            Build Operate Transfer
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- maximize the quality  -->
<section class="section bg-gray">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;">Maximize the Quality of your Projects with the Top <span style="color: #ff9800;">1% IT </span>Talent </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/managed-services/2 (3).png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    Every successful project necessitates the assistance of a properly sized team with the appropriate expertise. TechnoElevate's staffing services are intended to improve the quality of your projects by bringing in expert software engineers with specific
                    skills.
                </p>
                <p class="laptop">
                    We collaborate with the top 1% of IT talent to provide your company with the speed and flexibility it requires to scale quickly and build tech-driven competitive advantages. Our IT staff collaborates with your internal team by attending daily meetings
                    and directly reporting to your management department. We have a custom-built solution for you, from simple prototypes to comprehensive enterprise software.
                </p>
            </div>
        </div>
        <div class="mobile">
            <p>
                We collaborate with the top 1% of IT talent to provide your company with the speed and flexibility it requires to scale quickly and build tech-driven competitive advantages. Our IT staff collaborates with your internal team by attending daily meetings
                and directly reporting to your management department. We have a custom-built solution for you, from simple prototypes to comprehensive enterprise software.
            </p>
        </div>
    </div>
</section>

<!-- Benefits and Results -->

<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;">Best Possible Fit at the Right Time
                </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col col-12 col-md-6">
                <p>
                    Our on-demand staffing solutions are a dependable and cost-effective way to increase your in-house production efficiency from the start. Our software engineering team has the technical expertise you require, regardless of the size or complexity of your
                    project. To build the most experienced and effective software development teams, we hire the top 1% of IT talent.
                </p>
            </div>
            <div class="col col-12 col-md-6 text-center">
                <img src="../../../assets/images/managed-services/possible-fit.png" alt="" class="img-fluid " style="margin-left: 10px;">
            </div>
        </div>
    </div>
</section>

<!------- What exactly are Services------>

<div style="width: 80% !important;
margin: auto !important;
text-align: justify !important">
    <div class="row">
        <div class="col col-12 col-md-12">
            <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; margin: auto;text-align: center;"> What exactly are
                <span style="color: #ff9800;">Staffing </span> Services?</h2>
            <div class="mydivider1 mb-3"></div>
        </div>
    </div>
    <div>
        <p>Staffing services provide the additional talent needed to help your projects succeed, ranging from highly scalable teams to independent expert engineers.</p>
    </div>
    <span style="font-size: large; font-weight: 600;">These are the most common types of staffing models:</span>

    <div class="row">
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="staffing-modal">
                    <div class="d-flex justify-content-center"> <img src="../../../assets/images/professional/onshore & offshore location staffing.png" width="50" height="50" style="position: relative;" /> </div>
                    <h5 class="text-center" style="color: #ff9800;">Offshore and Onshore Locations Staffing</h5>

                    <p>The best IT professionals are not only scarce but also dispersed throughout the world.
                        <!-- <span *ngIf="LS"> -->
                        We use remote methodologies to provide our clients with access to the top 1% of IT talent in the region while overcoming all geographical challenges.
                        <br><br>
                        <!-- </span> -->
                    </p>
                </div>
                <!-- <div style="text-align: center;">
                    <button class="btn readButton btn-sm" (click)="readMore('location_staffing')">{{LS ? 'Read Less':'Read More'}}</button>
                </div> -->
            </div>
        </div>

        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="staffing-modal">
                    <div class="d-flex justify-content-center"> <img src="../../../assets/images/professional/On demand workers.png" width="50" height="50" style="position: relative;" /> </div>
                    <h5 class="text-center" style="color: #ff9800;">On-demand Resources</h5>
                    <p style="margin-top: 10px">Some projects necessitate the extreme flexibility provided by On-Demand Staffing.
                        <!-- <span *ngIf="DW"> -->
                        This model enables businesses to avoid all recruitment efforts and instead hire skilled software engineers as and when they are required.
                        <!-- </span> -->
                    </p>
                </div>
                <!-- <div style="text-align: center;">
                    <button class="btn readButton btn-sm mt-4" (click)="readMore('on_demand_works')">{{DW ? 'Read Less':'Read More'}}</button>
                </div> -->
            </div>
        </div>

        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="staffing-modal">
                    <div class="d-flex justify-content-center"> <img src="../../../assets/images/professional/Engineers on site.png" width="50" height="50" style="position: relative;" /> </div>
                    <h5 class="text-center" style="color: #ff9800;">Engineers on-site</h5>
                    <p>On-Site Engineers are ideal for extremely complex and long-term projects.
                        <!-- <span *ngIf="ES"> -->
                        that necessitate the substantial form of software engineers and IT experts throughout the development process.
                        <!-- </span> -->
                    </p>
                </div>
                <div style="text-align: center;">
                    <!-- <button class="btn readButton btn-sm mt-4" (click)="readMore('engineer_site')">{{ES ?'Read
                        Less':'Read More'}}</button> -->
                </div>
            </div>
        </div>

    </div>

</div>


<!-------how we do it -->

<!-- <div class="col text-center" id="Journey">
                <div class="section-title">
                    <div class="mydivider mb-4"></div>
                    <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> HOW WE <span style="color: orange;"> DO IT  </span> </h2>
                </div>
                <div class="timeline">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="timeline-container">
                                    <div class="timeline-end">
                                        <p></p>
                                    </div>
                                    <div class="timeline-continue">
                                        <div class="row timeline-right">
                                            <div class="col-md-6">
                                                <p class="timeline-date"></p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="timeline-box">
                                                    <div class="timeline-icon"></div>
                                                    <div class="timeline-text">
                                                        <h3>Arrangement</h3>
                                                        <ul>
                                                            <li>
                                                                Analysis of needs and requirements
                                                            </li>
                                                            <li>
                                                                Definition of scope, mapping of expertise
                                                            </li>
                                                            <li>
                                                                Screening of candidates and team formation
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row timeline-left">
                                            <div class="col-md-6 d-md-none d-block">
                                                <p class="timeline-date"></p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="timeline-box">
                                                    <div class="timeline-icon d-md-none d-block"></div>
                                                    <div class="timeline-text">
                                                        <h3>Launch</h3>
                                                        <ul>
                                                            <li>
                                                                Team setup
                                                            </li>
                                                            <li>
                                                                Environment, tools, and infrastructure configuration
                                                            </li>
                                                            <li>
                                                                Definition of process and methodology
                                                            </li>
                                                            <li>
                                                                Communication processes establishment
                                                            </li>
                                                            <li>
                                                                Start-up of the project
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="timeline-icon d-md-block d-none"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-md-block d-none">
                                                <p class="timeline-date"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="timeline-year">
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row timeline-right">
                                            <div class="col-md-6">
                                                <p class="timeline-date"></p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="timeline-box">
                                                    <div class="timeline-icon"></div>
                                                    <div class="timeline-text">
                                                        <h3>
                                                            Operation
                                                        </h3>
                                                        <ul>
                                                            <li>
                                                                Review and modification of operations
                                                            </li>
                                                            <li>
                                                                Maximum productivity attained and maintained
                                                            </li>
                                                            <li>
                                                                Adjustment of team size (scale up/down)
                                                            </li>
                                                            <li>
                                                                Accumulation and dissemination of knowledge
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- </div>
  </div>
</section> -->


<!-- how we do it -->
<div class="section bg-gray">
    <div class="mycontainer">
        <div class="section-title">
            <h2 class="" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> HOW WE <span style="color: #ff9800;"> DO IT? </span> </h2>
            <div class="mydivider1 mb-3"></div>
        </div>

        <!-- <div>
      <h3 class="py-2">Arrangement</h3>
      <ul>
        <li>
          Analysis of needs and requirements
        </li>
        <li>
          Definition of scope, mapping of expertise
        </li>
        <li>
          Screening of candidates and team formation
        </li>
      </ul>
    </div> -->
        <!-- <div>
      <h3 class="py-2">Launch</h3>
      <ul>
        <li>
          Team setup
        </li>
        <li>
          Environment, tools, and infrastructure configuration
        </li>
        <li>
          Definition of process and methodology
        </li>
        <li>
          Communication processes establishment
        </li>
        <li>
          Start-up of the project
        </li>
      </ul>
    </div> -->
        <!-- <div>
      <h3 class="py-2">
        Operation
      </h3>
      <ul>
        <li>
          Review and modification of operations
        </li>
        <li>
          Maximum productivity attained and maintained
        </li>
        <li>
          Adjustment of team size (scale up/down)
        </li>
        <li>
          Accumulation and dissemination of knowledge
        </li>
      </ul>
    </div> -->
    </div>
    <section>
        <div class="mycontainer">
            <img src="../../../assets/images/managed-services/PS_How we do it section.png" style="position: relative;">
        </div>
    </section>
</div>




<!---------------TechnoElevate Managed Dedicated Resources ----->
<!--
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> YOUR DEDICATED TEAM WITH
          <span style="color: #ff9800;"> TECHNOELEVATE </span> </h2>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-center">
        <img src="../../../assets/images/services/consulting.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <p>
          TechnoElevate provides all of the roles needed to complete the team you need. This is usually made up of a
          project manager, SW engineers, QA engineers, and other roles that are specific to each project. To manage the
          project, a Scrum Master and the client's
          product owner collaborate.
        </p>
        <p>
          Our entire team is bilingual and has extensive experience in their respective fields. We only work with the
          top 1% of tech talent because of our stringent hiring process.
        </p>
        <p>
          A Dedicated Team works independently, but communicates and provides status updates as needed. The team shapes
          its design using Agile methodologies and relies heavily on feedback and discoveries made during testing.
        </p>
        <p>
          TechnoElevate can quickly deliver technology solutions with instantly assembled teams ready to work on your
          project thanks to seasoned engineers and the Dedicated Team approach.
        </p>
      </div>
    </div>
  </div>
</section> -->


<!-----YOUR DEDICATED TEAM WITH TECHNOELEVATE---->

<section class="section">
    <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> YOUR DEDICATED TEAM WITH
                    <span style="color: #ff9800;"> TECHNOELEVATE </span> </h2>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/managed-services/team-with-technoelevate.png" alt="" class="img-fluid" style="margin-top: 42px;width: 100;">
            </div>
            <div class="col-md-6">
                <p>
                    TechnoElevate provides all of the roles needed to complete the team you need. This is usually made up of a project manager, SW engineers, QA engineers, and other roles that are specific to each project. To manage the project, a Scrum Master and the client's
                    product owner collaborate.
                </p>
                <p class="laptop">
                    Our entire team is bilingual and has extensive experience in their respective fields. We only work with the top 1% of tech talent because of our stringent hiring process.
                </p>
                <p class="laptop">
                    A dedicated team works independently, but communicates and provides status updates as needed. The team shapes its design using Agile methodologies and relies heavily on feedback and discoveries made during testing.
                </p>
                <p class="laptop">
                    TechnoElevate can quickly deliver technology solutions with instantly assembled teams ready to work on your project thanks to seasoned engineers and the dedicated team approach.
                </p>
            </div>
        </div>
        <div class="mobile mt-3">
            <p>
                Our entire team is bilingual and has extensive experience in their respective fields. We only work with the top 1% of tech talent because of our stringent hiring process.
            </p>
            <p>
                A dedicated team works independently, but communicates and provides status updates as needed. The team shapes its design using Agile methodologies and relies heavily on feedback and discoveries made during testing.
            </p>
            <p>
                TechnoElevate can quickly deliver technology solutions with instantly assembled teams ready to work on your project thanks to seasoned engineers and the dedicated team approach.
            </p>
        </div>
    </div>
</section>


<!-- how professional services can help your business -->
<!-- <section class="section"> -->

<section class="section">
    <h2 class="tagline" style=" letter-spacing: 0; font-size: 40px; text-align: center;"> HOW <span style="color: #ff9800;"> PROFESSIONAL SERVICES </span> CAN HELP YOUR BUSINESS? </h2>
    <div class="mydivider1 mb-3"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-12 mt-5">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="icon" src="../../../assets/images/professional/efficiency.png" class="servicesimg">
                                    <img class="icon" src="../../../assets/images/professional/efficiency (1).png" class="hoverimg">
                                </div>
                                <h4 style="margin-top: 20px;">
                                    Efficiency
                                </h4>
                                <p> Our Professional Services increase workload efficiency while keeping your project on time and within budget.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-12 mt-5">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="icon" src="../../../assets/images/professional/Innovation (2).png" class="servicesimg">
                                    <img class="icon" src="../../../assets/images/professional/Innovation (3).png" class="hoverimg">
                                </div>
                                <h4 style="margin-top: 20px;">Innovation</h4>
                                <p> By sharing industry knowledge, your in-house and outsourced teams will collaborate and innovate.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-12 mt-5">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="icon" src="../../../assets/images/professional/scalability.png" class="servicesimg">
                                    <img class="icon" src="../../../assets/images/professional/scalability (1).png" class="hoverimg">
                                </div>
                                <h4 style="margin-top: 20px;">Scalability</h4>
                                <p> Reaching goals more quickly will boost business growth and have you looking for new ones in no time.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-6 col-sm-12 col-12 mt-5">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="icon" src="../../../assets/images/professional/Technologies of future.png" class="servicesimg">
                                    <img class="icon" src="../../../assets/images/professional/Technologies of future (1).png" class="hoverimg">
                                </div>
                                <h4 style="margin-top: 20px;">
                                    Technologies of the Future
                                </h4>
                                <p> Drive your business strategy forward with cutting-edge technology, and take your projects to the next level. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!----Why innovate your business with us-->

<div class="container-fluid">
    <div class="row justify-content-center mt-5  row-1">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 class="taglines" style=" letter-spacing: 0; font-size: 38px; text-align: center;"> Why <span style="color: #ff9800;"> innovate </span> your business with us? </h2>
            <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="colmd-12">
                                        <h5 class="card-text bold text-center">Consistently high-quality results achieved through the use of strong agile teams and dedicated QA practices. </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-text bold text-center">Highly cost-effective and best-of-breed solutions with no surprises at the last minute.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-body text-center ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-text bold text-center">Translucent project management with strict deadline adherence. <br></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section mt-5">
    <div class="mycontainer">
        <h2>FAQ's</h2>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Do you guys support permanent, C2C, and C2H roles?</p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">TFor all of our clients, we provide C2C and C2H assistance. Permanent solutions are not part of our business strategy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingtwo">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What conditions must be met for the candidate to be placed on the company payroll if C2H?</p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">If you are looking for C2H there is a lock period of 12 months and later the candidates can be hired with a conversion fee of 8.33 percent added to the offered CTC, which is a standard price in the market. If it is posted for
                                18 months, however, you can hire the candidates directly to your payroll.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingthree">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What portion of a commission will you be paying to each candidate? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">Since we adhere to a standard rate card, we do not operate on a commission basis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingfour">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What major technology stack does Technoelevate support, and how many people are on the waiting list for each technology stack? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">We primarily support DevOps, Full Stack, Front End, and Back End Java. For your benefit, I can send you an email with the bench availability, but at any given time we have 60-100 candidates on the bench.
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-header" id="headingfive">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What are the replacement provisions, and what are the alternatives if the candidates don't perform as expected?</p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">Within a week, we will find a replacement if the candidates are underwhelming. Additionally, to ensure that each candidate is functioning effectively, we also offer tech assistance from our end. Furthermore, if there is a substitute,
                                we would like to know 15 days in advance so that we can consider our options.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingfive">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What is the duration of each candidate's notice period? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapsesix" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body">If the contract is being terminated, the client must give 30 days' notice of the change. If we are also removing the candidate or if they have submitted their papers, the notice period will also be 30 days.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingseven">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">What agreements do you abide by? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body"> We will share MSA and NDA during the empanelment process, and if a candidate is chosen, we will give them an SOW (statement of work/work order) that details the contract's duration and monthly billing provisions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingeight">
                    <h5 class="mb-0">
                        <div class="d-flex career-header justify-content-between" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseOne">
                            <div class="d-flex align-items-center">
                                <p class="faq-title">Is the rate card inclusive of GST? </p>
                            </div>
                            <div class="d-flex align-items-center down-arrow-icon"><i class="fa fa-solid fa-angle-down"></i></div>
                        </div>
                    </h5>
                </div>

                <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="career-container">
                            <p class="faq-body"> Unfortunately, no, GST is excluded from the rate card mentioned. Your business won't be subject to GST if it is located in an SEZ zone.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>