.box{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box:before,
.box:after{
    content: '';
    background: linear-gradient(#6D6027,#D3CBB8);
    width: 100%;
    height: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}
.box:after{
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
}
.box:hover:before,
.box:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.box img{
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all 0.6s ease;
}
.box:hover img{ filter: hue-rotate(50deg); }
.box .box-content{
    color: #fff;
    width: 100%;
    padding: 0 20px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 2;
    transition: all .5s ease;
}   
.box:hover .box-content{
    opacity: 1;
    top: 50%;
}
.box .title{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.box .post{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 11px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    margin: 0 2px;
    display: inline-block;
}
.box .icon li a{
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 10px/20px;
    display: block;
    transition: all 0.3s;
}
.box .icon li a:hover{
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}





