<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Strategic qa <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Full Test Life Cycle
      </h1>
    </div>
  </div>
</section>

<!-- TESTING FRAMEWORK IN SAFe -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">INTRODUCTION</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <p>
      Industry 4.0 and Digital transformation have made the enterprises invest in new technologies
      namely IoTs, IIoT’s, cloud computing, AI/ML and data science. The enterprises invest in
      these exponentially growing technologies to design products with the primary role being
      customer value creation.
    </p>
    <p>
      Hence the quality plays at most important for the success of these products. Domain and
      technological finesse plays a crucial role to assure quality and ROI.
    </p>
  </div>
</section>
<!-- Section About End -->

<!-- Objectives -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">OBJECTIVES</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-md-6">
        <p>
          Test Yantra, as a reliable QA partner, ensures that the business objectives of the
          organisations are met, which is:
        </p>
        <ul>
          <li>
            The product development process follows the specified QA process for a defect free
            delivery
          </li>
          <li>
            Shift left automation approach for better quality and faster time to market
          </li>
          <li>
            Ensure product meets the specifications and fully complies with the business
            requirements
          </li>
          <li>
            Ease of product enhancement and upgrades with minimum compromise on quality
          </li>
          <li>
            Addressing the customer feedback post product release to market
          </li>
          <li>
            Out-come oriented approach with end to end integration of various technologies and
            platforms
          </li>
        </ul>
      </div>
      <div class="col col-12 col-md-6 text-center">
        <img src="/assets/images/services/full-test-life-cycle/full-test-life-cycle.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Objectives-->

<!-- VALUE PREPOSITIONS: DEVOPS LIFE CYCLE -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center;">
          VALUE PREPOSITIONS: DEVOPS LIFE CYCLE
        </h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/services/full-test-life-cycle/full-test-life-cycle-2.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p class="mt-4">
          Test Yantra came up with the road map to transform the capabilities of a testing team to
          achieve the agility objectives of an organization. The road map is depicted in the diagram.
        </p>
        <p>
          Team strategies are designed to enable teams to transform from Defining the objectives,
          self-managing to achieve the defined objectives and continuously improving to become self
          sustained teams.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- VALUE PREPOSITIONS: DEVOPS LIFE CYCLE -->
