<section class="page-title abt-bg">
  <div class="col-lg-12 text-center">
    <div style="display: inline-block;">
      <div class="title-branch-menu mr-100">
        Services <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
      <div class="title-branch-menu">
        Strategic qa <span class="text-white">&nbsp;> &nbsp;</span>
      </div>
    </div>
    <div style="display: inline-block;">
      <h1 class="text-lg">
        Testing in scaled agile
      </h1>
    </div>
  </div>
</section>

<!-- TESTING FRAMEWORK IN SAFe -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center; text-transform: none;">TESTING FRAMEWORK IN SAFe</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-6">
        <img src="assets/images/services/scaled-agile/testing-in-scaled-agile-1.png" alt="" class="img-fluid">
      </div>
      <div class="col col-12 col-md-6">
        <p style="margin:0px 0px 0px;">
          Test Yantra successfully implemented the SAFe framework for large programs with various
          clients to achieve agility in business. The SAFe frame work is adopted by functional,
          automation and non-functional teams.
        </p>
        <p style="margin-bottom: 0;">
          Testing frame work for SAFe is designed at Test Yantra by embracing the following SAFe
          principles:
        </p>
        <ul>
          <li>Strategize the test activities within the context of approved budget</li>
          <li>Systems Under Test to be evaluated by understanding user perspective and
            expectations</li>
          <li>Test suits to be built for Minimum Viable Products (MVPs) and enhance the
            coverage in subsequent builds</li>
          <li>Test scenarios are designed around the value stream</li>
          <li>Establish cadence to synchronize with cross-domain teams</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->

<!-- SAFe TESTING TEAMS -->
<section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center; text-transform: none;">SAFe TESTING TEAMS</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <p>
      At value stream level an organization implements solutions to provide continuous flow of values to the customers.
      Test Yantra build the teams who are capable of understanding the business solutions which are implemented through
      operational and development value streams. The different activities and responsibilities of testing team roles are
      explained in the diagram:
    </p>
    <img src="assets/images/services/scaled-agile/testing-in-scaled-agile-2.png"
     width="100%" alt="" style="position: relative;">
  </div>
</section>
<!-- SAFe TESTING TEAMS-->

<!-- SAFe TESTING TEAM TRANSFORMATION -->
<section class="section">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center; text-transform: none;">SAFe TESTING TEAM TRANSFORMATION</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          Test Yantra came up with the road map to transform the capabilities of a testing team to
          achieve the agility objectives of an organization. The road map is depicted in the diagram.
        </p>
        <p>
          Team strategies are designed to enable teams to transform from Defining the objectives,
          self-managing to achieve the defined objectives and continuously improving to become self
          sustained teams.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/services/scaled-agile/testing-in-scaled-agile-3.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<!-- SAFe TESTING TEAM TRANSFORMATION -->
