.img-fluids {
    margin-left: 40px;
}

.mobile {
    display: none;
}

.laptop {
    display: block;
}

@media only screen and (max-width:992px) {
    .mobile {
        display: block;
    }
    .laptop {
        display: none;
    }
}