<section>
    <div class="careers-img">
        <img src="assets/images/new-images/6.png" width="100%" style="position: relative;" alt="locations map">
    </div>
</section>


<!-- Section About start -->
<section class="section">
    <!-- <div class="mycontainer">
        <div class="row">
            <div class="col col-12 col-md-12">
                <h3 style="text-align: center">Introduction</h3>
                <div class="mydivider1 mb-3"></div>
            </div>
        </div>
    </div> -->
    <div class="mycontainer">
        <div class="row">
            <!-- <div class="col col-12 col-md-6">
                <img src="../../../assets/images/services/banking/banking-1.PNG" alt="" class="img-fluid">
            </div> -->
            <div class="col col-12 col-md-12">
                <p>
                    “DIGITAL IS THE NEW CURRENCY IN THE MARKET” Banks are one of the biggest commercial sectors in the industries and way in technology investments. As per our survey, digital technologies are high on their priority. The use of data analytics for deep personalization,
                    open banking APIs to facilitate collaboration within the ecosystem and paperless trade finance is driven by blockchain and the Internet of Things are among the top trends over the next few years.

                </p>
                <p>
                    The most commonly used digital technologies for banks nowadays are big data analytics, cyber security, and enterprise cloud. We are providing a wide range of technical services to our 40+ customers in the market timelessly.

                </p>
                <p>
                    Our journey with the customer for being more digital extends from core modernization to customer delight. We have been a helping hand for the making in the digital world for over 3+ years. For more detailed information about our services,<a> write to us.</a>
                </p>


            </div>
        </div>
    </div>
</section>
<!-- Section About End -->

<!-- Value Proposition -->
<!-- <section class="section bg-gray">
  <div class="mycontainer">
    <div class="row">
      <div class="col col-12 col-md-12">
        <h3 style="text-align: center">Value Proposition</h3>
        <div class="mydivider1 mb-3"></div>
      </div>
    </div>
  </div>
  <div class="mycontainer">
    <div class="row ">
      <div class="col col-12 col-md-6">
        <p>
          Test Yantra has accumulated deep industry experience and provides customized solutions to various aspects of
          the Banking industry requirements.
        </p>
        <p style="margin-bottom: 0;">
          Test Yantra’s service offering includes:
        </p>
        <ul>
          <li>QA Solution with Domain expertize</li>
          <li>Early automation integration, implementing shift left approach ensuring quick time to market</li>
          <li>Performance engineering with Enhanced Risk Assessment frameworks which can help identifying roadblocks
            and increasing the overall performance across various platforms
          </li>
          <li>
            Enhanced cyber security threat analysis with evolving testing tools and methodology to continuously
            detect and protect against threats including phishing, malwares, identity thefts etc.
          </li>
          <li>
            Regulatory compliance implementation such as SOX, KYC, MiFID II are mandatory for many of financial
            institutions
          </li>
        </ul>
      </div>
      <div class="col col-12 col-md-6">
        <img src="../../../assets/images/services/banking/banking-2.PNG" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
<!-- Value Proposition -->

<section class="section">
    <div class="mycontainer">
        <!-- <p>
<b> Related Projects</b><br>
 E-Commerce platform development for online shopping cart.
 <a href="case-studies/e-commerce">Full case study</a>
</p> -->
        <h1 class="text-center py-4" style="text-decoration:underline"> Related Projects</h1>
        <div class="p-4 box bg-gray">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <p class="productdevelopment"> Product development for a payment company.</p>
                    <!-- <button type="button" class="btn casestudy-btn" href="case-studies/e-commerce">Full case study</button> -->
                    <div class="text-center py-4">
                        <a type="button" class="btn casestudy-btn mt-5" href="case-studies/banking">Full case study</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                        <img src="assets/images/Case study/Card-banking.png" alt="" class="img-fluid box-card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>