.casestudy-btn {
    color: white;
    background-color: black;
}

.casestudy-btn:hover {
    color: black !important;
    background-color: orange !important;
}

.productdevelopment {
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
}

.img-fluid {
    width: 90%;
}